@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply shadow-sm focus:ring-purple-500 focus:border-purple-500 block w-full sm:text-sm border-gray-300 rounded-md;
}

.btn {
  @apply shadow-sm inline-flex gap-1 items-center px-3 py-2 rounded transition duration-300;
}
.btn:focus {
  @apply outline-none ring-2 ring-offset-2;
}
.btn-icon {
  @apply shadow-sm inline-flex gap-1 items-center p-2 rounded transition duration-300;
}
.btn-icon:focus {
  @apply outline-none ring-2 ring-offset-2;
}

.btn-primary {
  @apply bg-gradient-to-br from-purple-400 to-purple-600 text-white;
}
.btn-primary:hover {
  @apply from-purple-300 to-purple-700 text-white;
}
.btn-primary:focus {
  @apply ring-purple-500;
}

.btn-secondary {
  @apply bg-gradient-to-br from-gray-400 to-gray-600 text-white;
}
.btn-secondary:hover {
  @apply from-gray-300 to-gray-700 text-white;
}
.btn-secondary:focus {
  @apply ring-gray-500;
}

.btn-success {
  @apply bg-gradient-to-br from-green-400 to-green-600 text-white;
}
.btn-success:hover {
  @apply from-green-300 to-green-700 text-white;
}
.btn-success:focus {
  @apply ring-green-500;
}

.btn-warning {
  @apply bg-gradient-to-br from-yellow-400 to-yellow-600 text-white;
}
.btn-warning:hover {
  @apply from-yellow-300 to-yellow-700 text-white;
}
.btn-warning:focus {
  @apply ring-yellow-500;
}

.btn-danger {
  @apply bg-gradient-to-br from-red-400 to-red-600 text-white;
}
.btn-danger:hover {
  @apply from-red-300 to-red-700 text-white;
}
.btn-danger:focus {
  @apply ring-red-500;
}

.markdown a:link {
  @apply text-purple-400 underline cursor-pointer;
}

.markdown a:visited {
  @apply text-purple-400 underline cursor-pointer;
}

.markdown a:link:active {
  @apply: text-purple-400;
}

.markdown a:visited:active {
  @apply: text-purple-400;
}

.markdown b {
  @apply font-bold;
}
.markdown blockquote {
  @apply block my-2 px-4 border-l-8 border-gray-300;
}

.markdown body {
  @apply block m-4;
}
.markdown caption {
  @apply table-caption text-center;
}

.markdown cite {
  @apply italic;
}

.markdown code {
  @apply font-mono;
}

.markdown col {
  @apply table-column;
}
.markdown colgroup {
  @apply table-column-group;
}
.markdown dd {
  @apply line-through;
}

.markdown dfn {
  @apply italic;
}

.markdown em {
  @apply italic;
}

.markdown h1 {
  @apply text-5xl mt-2 text-purple-900 border-b-2 border-purple-700;
}

.markdown h2 {
  @apply text-4xl mt-3 text-purple-900 border-b border-purple-700;
}
.markdown h3 {
  @apply text-3xl mt-4 text-purple-900;
}
.markdown h4 {
  @apply text-2xl mt-5 text-purple-900;
}
.markdown h5 {
  @apply text-xl mt-6 text-purple-900;
}
.markdown h6 {
  @apply text-lg mt-8 text-purple-900;
}

.markdown head {
  @apply hidden;
}

.markdown i {
  @apply italic;
}

.markdown img {
  @apply inline-block;
}

.markdown kbd {
  @apply font-mono;
}

.markdown p {
  @apply my-4;
}

.markdown strong {
  @apply font-bold;
}

.markdown table {
  @apply table border-separate border border-gray-400 w-full;
}

.markdown td {
  @apply table-cell p-1;
}

.markdown th {
  @apply font-bold bg-gray-200;
}

.markdown tr {
  @apply table-row;
}

.markdown u {
  @apply underline;
}

.markdown var {
  @apply italic;
}

.markdown ol {
  @apply list-decimal list-inside my-4 pl-2;
}

.markdown ul {
  @apply list-disc list-inside my-4 pl-2;
}
