<template>
  <div class="flex flex-col gap-4">
    <h2 class="font-bold text-purple-600 text-2xl">HTML -> PDF Demo</h2>
    <p class="text-gray-500">
      This is a demonstrator to present the workflow for generating PDF from a
      HTML string in a js node application. Enter HTML on the left and observe
      the live preview on the right. When you are done, click the PDF button.
      The PDF will open in a popup allowing you to download or print it.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <textarea
        class="resize-none w-full"
        id="htmlInput"
        name="htmlInput"
        rows="10"
        cols="50"
        @keyup="updateContent()"
        v-model="htmlString"
      ></textarea>
      <iframe
        id="preview"
        class="bg-white overflow-auto border border-black h-96 w-full"
      >
      </iframe>
    </div>

    <div class="flex flex-row gap-4 flex-wrap">
      <button class="btn btn-primary" @click="generatePdfCreatorNode()">
        <svg
          v-if="working"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 animate-spin"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
            clip-rule="evenodd"
          />
        </svg>

        <span>PDF</span>
      </button>
      <modal-element
        v-if="this.showPreviewModal"
        @close="showPreviewModal = false"
      >
        <div
          style="height: 65vh"
          class="w-full h-full flex flex-col overflow-hidden"
        >
          <iframe
            v-if="b64Pdf"
            class="flex-grow"
            :src="'data:application/pdf;base64,' + b64Pdf"
          >
          </iframe>
        </div>
      </modal-element>
    </div>
    <div>
      <h3 class="font-bold text-purple-600 font-2xl mb-4">Data:</h3>
      <ObjectDisplay v-bind:objectVariable="data" />
    </div>
  </div>
</template>

<script>
import ModalElement from "../primitives/ModalElement.vue";
import ObjectDisplay from "../primitives/recursiveDisplay/ObjectDisplay.vue";
export default {
  components: { ModalElement, ObjectDisplay },
  data() {
    return {
      htmlString: `
<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<body style="font-family: serif;" class="text-sm">
<div >
  {{#with company}}
  <span class="text-xs w-72">{{this.name}}, {{this.address.street}}, {{this.address.zipCode}} {{this.address.city}}</span>
  {{/with}}
  <div style="height: 2px;" class="rainbow"></div>
  <div style="width:5cm;">
  {{#with customer}}
    <div>{{this.name}}</div>
    <div>Contact: {{this.contactPerson.first_name}} {{this.contactPerson.last_name}}</div>
    <div>{{this.street}}</div>
    <div>{{this.zip_code}} {{this.city}}</div>
  {{/with}}
  </div>

</div>


<h2 style="background-color: lightgray;" class="my-4 p-2 bg-gray-200">
  Invoice number: <span class="font-bold">{{year}}-{{invoiceNumber}}</span>
  Invoice date: <span class="font-bold">{{invoiceDate}}</span>
</h2>

<p>Dear Sir or Madam,</p>
<p>
  please find below a list of my consulting
  services provided to you. An hourly rate of
  $10,00 is the basis for this calculation.
</p>
<div class="px-4 my-2">
  <table class="w-full">
    <tr class="text-left border-b-2 border-black">
      <th>Description</th>
      <th>Amount</th>
      <th class="text-right">Price</th>
    </tr>

    {{#each invoiceElements}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.amount}}{{this.unit}}</td>
      <td class="text-right">{{../currency}}{{this.price}}</td>
    </tr>
    {{/each}}
    <tr class="text-left border-t-2 border-black">
      <td>SUM</td>
      <td></td>
      <td class="text-right font-bold">{{currency}}{{total}}</td>
    </tr>
  </table>
</div>
<p>Please pay the total of <span class="font-bold">{{currency}}{{total}}</span> within 14 days via wire transfer to the following account:</p>
<p class="font-bold">{{company.paymentMethods.wire.iban}}</p>
<p class="mt-8">Best regards,</p>
<p>{{company.name}}</p>
<style>
  .rainbow{
    text-shadow: 0 0 8px white;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }

</style>
</body>
</html>
`,
      working: false,
      showPreviewModal: false,
      b64Pdf: null,
      data: {
        list: [
          [1, 2, 3],
          [4, 5, 6],
        ],
        currency: "$",
        year: 2021,
        invoiceNumber: 14,
        invoiceDate: new Date().toLocaleDateString("en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
        }),
        customer: {
          contactPerson: {
            first_name: "John",
            last_name: "Doe",
            address: {
              street: null,
              zipCode: null,
              city: null,
              country: null,
            },
            phone: null,
            mobile: null,
            email: "john.doe@impressivecompany.com",
          },
          name: "Very long and impressive Company Name with c/o and things",
          street: "Street 123",
          zipCode: "12f12",
          city: "FunCity",
          country: null,
        },
        company: {
          name: "The users company co.",
          address: {
            street: "Somestreet 2",
            zipCode: "135613",
            city: "Othercity",
            country: null,
          },
          invoiceAddress: {
            street: null,
            zipCode: null,
            city: null,
            country: null,
          },
          phone: null,
          mobile: null,
          email: "info@company.co",
          homepage: null,
          paymentMethods: {
            wire: {
              iban: "FY12741531513",
            },
          },
        },
        invoiceElements: [
          {
            name: "Requirement engineering",
            amount: 2,
            unit: "h",
            price: "20.00",
          },
          {
            name: "Consulting",
            amount: 2,
            unit: "h",
            price: "20.00",
          },
          {
            name: "Meetings/Calls",
            amount: 1,
            unit: "h",
            price: "10.00",
          },
          {
            name: "Development",
            amount: 5,
            unit: "h",
            price: "50.00",
          },
        ],
        total: "200.00",
      },
    };
  },
  mounted() {
    this.updateContent();
  },
  methods: {
    generatePdfCreatorNode() {
      this.working = true;
      var html_content = document.getElementById("htmlInput").value;

      var options = {
        format: "A4",
        orientation: "portrait",
        border: "10mm",
        header: {
          height: "45mm",
          contents: '<div style="text-align: center;">My Header</div>',
        },
        footer: {
          height: "28mm",
          contents: {
            first: '<div style="text-align: center;">First Page</div>',
            default:
              '<div style="color: #444; text-align: center;">{{page}}/{{pages}}</div>', // fallback value
            last: '<div style="text-align: center;">Last Page</div>',
          },
        },
      };

      Meteor.call(
        "render.pdf_creator",
        html_content,
        options,
        this.data,
        (error, result) => {
          if (error) {
            console.log(error);
          }
          if (result) {
            this.working = false;
            this.b64Pdf = result;
            this.showPreviewModal = true;
            //window.open("data:application/pdf;base64," + result);
          }
        }
      );
    },
    updateContent() {
      var html_content = document.getElementById("htmlInput").value;
      var iframe = document.getElementById("preview");
      var doc = iframe.contentWindow.document;
      doc.open();
      doc.write(html_content);
      doc.close();
    },
  },
};
</script>
