<template>
  <div class="">
    <h2 class="m-2 font-bold text-purple-600">Add new User</h2>
    <form class="" @submit.prevent="handleSubmit">
      <div class="my-6 flex flex-col flex-wrap gap-6">
        <div class="">
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="name" class="bg-white px-1">Name</label>
            </p>
          </div>
          <p>
            <input
              id="name"
              v-model="newUser.username"
              autocomplete="off"
              type="text"
              class="
                appearance-none
                block
                w-full
                px-3
                py-2
                border border-gray-300
                rounded-md
                shadow-sm
                placeholder-gray-400
                focus:outline-none focus:ring-purple-500 focus:border-purple-500
                sm:text-sm
              "
              required
            />
          </p>
        </div>

        <div class="">
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="password1" class="bg-white px-1">Password</label>
            </p>
          </div>
          <p>
            <input
              id="password1"
              v-model="newUser.password1"
              autocomplete="off"
              type="password"
              class="
                appearance-none
                block
                w-full
                px-3
                py-2
                border border-gray-300
                rounded-md
                shadow-sm
                placeholder-gray-400
                focus:outline-none focus:ring-purple-500 focus:border-purple-500
                sm:text-sm
              "
              required
            />
          </p>
        </div>

        <div class="">
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="password2" class="bg-white px-1"
                >Repeat Password</label
              >
            </p>
          </div>
          <p>
            <input
              id="password2"
              v-model="newUser.password2"
              autocomplete="off"
              type="password"
              class="
                appearance-none
                block
                w-full
                px-3
                py-2
                border border-gray-300
                rounded-md
                shadow-sm
                placeholder-gray-400
                focus:outline-none focus:ring-purple-500 focus:border-purple-500
                sm:text-sm
              "
              required
            />
          </p>
        </div>
      </div>
      <button class="btn-icon btn-primary" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
          />
        </svg>
      </button>

      <div v-if="this.errors">
        <p
          v-for="error in this.errors"
          v-bind:key="error"
          class="m-1 text-red-600"
        >
          {{ error }}
        </p>
      </div>
    </form>
  </div>
</template>

<script>
import { Meteor } from "meteor/meteor";

export default {
  components: {},
  data() {
    return {
      errors: [],
      newUser: {
        username: null,
        password1: null,
        password2: null,
      },
    };
  },
  methods: {
    handleSubmit(event) {
      this.errors = [];

      if (this.newUser.password1 === this.newUser.password2) {
        // all good
      } else {
        this.errors.push("Passwords do not match.");
      }

      if (this.newUser.password1) {
        // all good
      } else {
        this.errors.push("Password cannot be empty.");
      }

      let allUsernames = this.allUsernames;

      if (allUsernames.includes(this.newUser.username)) {
        this.errors.push("This username is already taken.");
      }

      if (this.newUser.password1.length < 6) {
        this.errors.push("Password must be at least 6 characters long.");
      }

      if (this.errors.length == 0) {
        Meteor.call(
          "user.create",
          this.newUser.username,
          this.newUser.password1
        );
        // Clear form

        this.newUser = {
          username: null,
          password1: null,
          password2: null,
        };
      }
    },
  },
  meteor: {
    allUsernames() {
      var usernames = Meteor.users
        .find(
          {},
          {
            fields: { username: true },
          }
        )
        .fetch()
        .map(function (x) {
          return x.username;
        });

      return usernames;
    },
  },
};
</script>
