<template>
  <tr class="border-t-2 border-pblue-500 transition duration-300 ease-out">
    <td class="p-1">
      <div
        class="flex flex-row flex-wrap gap-1"
        v-if="this.showControls && currentUsersRoles.includes('admin')"
      >
        <button
          class="btn-icon btn-secondary"
          @click="abort"
          v-if="this.editing || this.deleting"
        >
          <!-- x, abort -->
          <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
        <button
          class="btn-icon btn-danger"
          @click="startDeleting"
          v-if="this.deleting == false && this.editing == false"
        >
          <!-- x circle, init delete-->
          <svg
            class="w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
        <button
          class="btn-icon btn-danger"
          @click="deleteThisUser"
          v-if="this.deleting"
        >
          <!-- trashbin acutally delete -->
          <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            ></path>
          </svg>
        </button>

        <button
          class="btn-icon btn-secondary"
          @click="startEditing"
          v-if="this.deleting == false && this.editing == false"
        >
          <!-- pencil init edit -->
          <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
            ></path>
          </svg>
        </button>

        <button
          class="btn-icon btn-primary"
          @click="saveChanges"
          v-if="this.editing"
        >
          <!-- checkmark save after edit-->
          <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
        </button>
      </div>
    </td>
    <td>
      <user-avatar
        class="h-14 w-14 rounded-full overflow-hidden"
        v-bind:user="user"
      />
    </td>

    <td class="p-1" v-on:dblclick="startEditing">
      <div v-if="this.editing == false">
        {{ this.user.username }}
      </div>
      <div v-if="this.editing">
        <form @submit.prevent="saveChanges">
          <div
            class="
              border
              focus-within:border-pblue-500 focus-within:text-pblue-500
              transition-all
              duration-500
              relative
              rounded
            "
          >
            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
              <p>
                <label for="usernameEdit" class="bg-white px-1">Username</label>
              </p>
            </div>
            <p>
              <input
                id="usernameEdit"
                v-model="username"
                autocomplete="off"
                type="text"
                :size="this.username ? this.username.length + 4 : 10"
                required
                class="py-1 px-1 text-gray-900 outline-none block h-full w-full"
              />
            </p>
          </div>
        </form>
      </div>
    </td>
    <td class="p-1">
      <button
        class="btn-icon btn-secondary"
        @click="startEditingEmails"
        v-if="this.deleting == false && this.editing == false"
      >
        <span v-if="user.emails">{{ user.emails.length }}</span>
        <span v-else>0</span>
        <!-- mail button -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
          />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
      </button>
    </td>
    <td class="p-1">
      <div class="flex flex-row gap-4">
        <div
          class="flex flex-col flex-wrap gap-1"
          v-if="this.showControls && currentUsersRoles.includes('admin')"
        >
          <button
            class="btn-icon btn-secondary"
            @click="startSetPassword"
            v-if="this.settingPassword == false"
          >
            <!-- key init edit -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button
            class="btn-icon btn-secondary"
            @click="abort"
            v-if="this.settingPassword"
          >
            <!-- x, abort -->
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
          <button
            class="btn-icon btn-primary"
            @click="savePasswordChange"
            v-if="this.settingPassword"
          >
            <!-- checkmark save after edit-->
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              ></path>
            </svg>
          </button>
        </div>
        <div class="self-center" v-if="this.settingPassword">
          <form class="grid grid-cols-1 gap-2" @submit.prevent="saveChanges">
            <div
              class="
                border
                focus-within:border-pblue-500 focus-within:text-pblue-500
                transition-all
                duration-500
                relative
                rounded
              "
            >
              <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                <p>
                  <label for="passwordEdit" class="bg-white px-1"
                    >New Password</label
                  >
                </p>
              </div>
              <p>
                <input
                  id="passwordEdit"
                  v-model="password"
                  :size="password ? password.length + 4 : 10"
                  autocomplete="off"
                  type="password"
                  required
                  class="
                    py-1
                    px-1
                    text-gray-900
                    outline-none
                    block
                    h-full
                    w-full
                  "
                />
              </p>
            </div>
          </form>
        </div>
      </div>
    </td>

    <td class="p-1" v-on:dblclick="startEditing">
      <div v-if="this.editing == false">
        {{ thisUsersRoles.join(", ") }}
      </div>
      <div v-if="this.editing">
        <form @submit.prevent="saveChanges">
          <select
            v-model="selectedRoles"
            name="roles"
            id="roles"
            class="py-1 px-1 text-gray-900 outline-none block"
            multiple
            required
          >
            <option v-for="role in allRoles" v-bind:key="role" :value="role">
              {{ role }}
            </option>
          </select>
        </form>
      </div>
    </td>

    <td class="p-1">
      <div>
        {{
          this.user.createdAt
            ? this.user.createdAt.toLocaleString("de-de", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit",
              })
            : "?"
        }}
      </div>
    </td>
    <!-- email modal-->
    <div
      v-if="this.editingEmails"
      class="fixed z-10 inset-0 overflow-y-auto"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="
          flex
          items-end
          justify-center
          min-h-screen
          pt-4
          px-4
          pb-20
          text-center
          sm:block sm:p-0
        "
      >
        <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          aria-hidden="true"
          @click="finishEditingEmails"
        ></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >

        <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
        <div
          class="
            inline-block
            align-bottom
            bg-white
            rounded-lg
            px-4
            pt-5
            pb-4
            text-left
            overflow-hidden
            shadow-xl
            transform
            transition-all
            w-full
            sm:my-8 sm:align-middle sm:max-w-md
            md:max-w-xl
            sm:w-full sm:p-6
          "
        >
          <h4 class="text-xl mb-4">
            Email addresses for
            <span class="font-bold">{{ user.username }}</span>
          </h4>
          <div class="overflow-y-auto flex flex-col gap-2">
            <div
              v-for="email in user.emails"
              v-bind:key="email.address"
              class="border rounded bg-white shadow p-2 flex flex-col gap-2"
            >
              <div class="flex flex-row justify-between items-center gap-2">
                <span>{{ email.address }}</span>
                <div
                  v-if="email.verified"
                  class="
                    p-1
                    rounded
                    border border-green-700
                    text-green-700
                    bg-green-200
                    flex flex-row
                    gap-1
                  "
                >
                  <span>Verified</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13l4 4L19 7"
                    />
                  </svg>
                </div>
                <div
                  v-else
                  class="
                    p-1
                    rounded
                    border border-red-700
                    text-red-700
                    bg-red-200
                    flex flex-row
                    gap-1
                  "
                >
                  <span>Verified</span>

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </div>
              </div>
              <div>
                <button
                  class="btn-icon btn-danger"
                  @click="removeEmail(email.address)"
                >
                  <!-- x circle, init delete-->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <form
              v-on:submit.prevent="addEmail"
              class="my-2 pt-4 flex flex-row gap-2 justify-between items-center"
            >
              <!--add email -->
              <div
                class="
                  border
                  focus-within:border-pblue-500 focus-within:text-pblue-500
                  transition-all
                  duration-500
                  relative
                  rounded
                  flex-1
                "
              >
                <div
                  class="-mt-4 absolute tracking-wider px-1 uppercase text-xs"
                >
                  <p>
                    <label for="newEmail" class="bg-white px-1"
                      >New Email</label
                    >
                  </p>
                </div>
                <p>
                  <input
                    id="newEmail"
                    v-model="newEmail"
                    autocomplete="off"
                    type="email"
                    required
                    class="
                      py-1
                      px-1
                      text-gray-900
                      outline-none
                      block
                      h-full
                      w-full
                    "
                  />
                </p>
              </div>
              <button class="btn btn-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-1 h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end email modal-->
  </tr>
</template>

<script>
import UserAvatar from "./UserAvatar.vue";
export default {
  components: { UserAvatar },
  props: ["user", "showControls"],
  data() {
    return {
      editingEmails: false,
      deleting: false,
      editing: false,
      settingPassword: false,
      username: "",
      password: "",
      newEmail: "",
      selectedRoles: [],
    };
  },
  methods: {
    startDeleting(event) {
      this.deleting = true;
      this.editing = false;
    },
    deleteThisUser(event) {
      Meteor.call("user.remove", this.user._id);
    },
    abort(event) {
      this.editing = false;
      this.deleting = false;
      this.settingPassword = false;
    },
    startEditing(event) {
      (this.username = this.user.username),
        (this.selectedRoles = this.thisUsersRoles);

      this.editing = true;
      this.deleting = false;
    },
    saveChanges(event) {
      this.editing = false;
      // also save changes to user

      if (this.user.username != this.username) {
        Meteor.call("user.setUsername", this.user._id, this.username);
      }
      this.username = "";

      if (this.selectedRoles != this.thisUsersRoles) {
        Meteor.call(
          "user.updateRoles",
          this.user._id,
          this.selectedRoles,
          null
        );
      }

      this.selectedRoles = [];
    },
    startSetPassword(event) {
      this.settingPassword = true;
    },
    savePasswordChange(event) {
      if (this.password) {
        // set the password
        Meteor.call("user.setPassword", this.user._id, this.password);

        // reset everything
        this.settingPassword = false;
        this.password = "";
      }
    },
    startEditingEmails(event) {
      this.editingEmails = true;
    },
    finishEditingEmails(event) {
      this.editingEmails = false;
    },
    addEmail() {
      Meteor.call("user.addEmail", this.user._id, this.newEmail);
      this.newEmail = "";
    },
    removeEmail(email) {
      Meteor.call("user.removeEmail", this.user._id, email);
    },
  },
  meteor: {
    $subscribe: {},

    allRoles() {
      return Meteor.roles
        .find({})
        .fetch()
        .map(function (x) {
          return x._id;
        });
    },
    thisUsersRoles() {
      // the user that is supposed to be edited
      return Meteor.roleAssignment
        .find({ "user._id": this.user._id })
        .fetch()
        .map(function (x) {
          return x.role._id;
        });
    },
    currentUsersRoles() {
      // the user doing the editing
      return Meteor.roleAssignment
        .find({ "user._id": Meteor.userId() })
        .fetch()
        .map(function (x) {
          return x.role._id;
        });
    },
  },
};
</script>
