<template>
  <div class="bg-white p-4 rounded">
    <template>
      <form
        class="mt-3 flex flex-row flex-wrap items-baseline"
        v-if="this.showFilters"
      >
        <div class="mb-4">
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="usernameFilter" class="bg-white px-1">Name</label>
            </p>
          </div>
          <p>
            <input
              id="usernameFilter"
              v-model="filterName"
              autocomplete="off"
              type="search"
              class="
                appearance-none
                block
                w-full
                px-3
                py-2
                border border-gray-300
                rounded-md
                shadow-sm
                placeholder-gray-400
                focus:outline-none focus:ring-purple-500 focus:border-purple-500
                sm:text-sm
              "
            />
          </p>
        </div>
      </form>
    </template>
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <tr class="text-left">
          <th></th>
          <th></th>

          <th>Username</th>
          <th>Emails</th>
          <th>Password</th>
          <th>Roles</th>
          <th>Created At</th>
        </tr>
        <UserRow
          v-for="user in users"
          v-bind:key="user._id"
          v-bind:user="user"
          v-bind:showControls="showControls"
        />
      </table>
    </div>
  </div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import UserRow from "./UserRow.vue";

export default {
  props: ["showControls", "showFilters"],
  components: {
    UserRow,
  },
  data() {
    return {
      filterName: "",
      filterRoles: "",
    };
  },
  meteor: {
    $subscribe: {
      allUsers: [],
    },
    users() {
      let filter = {};
      if (this.filterName) {
        filter["username"] = { $regex: this.filterName, $options: "i" };
      }
      let users = Meteor.users
        .find(filter, {
          sort: { username: 1 },
        })
        .fetch();
      return users;
    },
    currentUser() {
      return Meteor.user();
    },
  },
};
</script>
