<template>
  <router-link
    :to="{
      name: 'personalPublicPage',
      params: { id: this.user._id },
    }"
    class="block cursor-pointer"
  >
    <gravatar-image v-bind:email="email" />
  </router-link>
</template>
<script>
import GravatarImage from "../primitives/GravatarImage.vue";
export default {
  components: { GravatarImage },
  props: ["user"],
  computed: {
    email() {
      if (this.$props.user) {
        if (this.$props.user.hasOwnProperty("emails")) {
          if (this.$props.user.emails.length > 0) {
            let email = this.$props.user.emails[0].address;
            return email;
          }
        }
      }
      return null;
    },
  },
  methods: {
    navigateToPersonalPublicPage() {
      this.$router.push({
        name: "personalPublicPage",
        params: { id: this.user._id },
      });
    },
  },
};
</script>
