<template>
  <div>
    <h4 class="text-xl mb-4">
      Email addresses for
      <span class="font-bold">{{ user.username }}</span>
    </h4>
    <div class="overflow-y-auto flex flex-col gap-2">
      <div
        v-for="email in user.emails"
        v-bind:key="email.address"
        class="border rounded bg-white shadow p-2 flex flex-col gap-2"
      >
        <div class="flex flex-row flex-wrap justify-between items-center gap-2">
          <gravatar-image
            v-bind:email="email.address"
            class="overflow-hidden rounded-full h-12 w-12"
          />
          <a
            :href="'mailto:' + email.address"
            class="font-bold text-lg hover:text-purple-600"
          >
            {{ email.address }}
          </a>
          <div
            v-if="email.verified"
            class="
              p-1
              rounded
              border border-green-700
              text-green-700
              bg-green-200
              flex flex-row
              gap-1
            "
          >
            <span>Verified</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
          </div>
          <div
            v-else
            class="
              p-1
              rounded
              border border-red-700
              text-red-700
              bg-red-200
              flex flex-row
              gap-1
            "
          >
            <span>Verified</span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </div>
        </div>
        <div>
          <button
            class="btn-icon btn-danger"
            @click="removeEmail(email.address)"
          >
            <!-- x circle, init delete-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
      <form
        v-on:submit.prevent="addEmail"
        class="my-2 pt-4 flex flex-row gap-4  items-center"
      >
        <!--add email -->
        <div class="">
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="newEmail" class="bg-white px-1">New Email</label>
            </p>
          </div>
          <input
            id="newEmail"
            v-model="newEmail"
            autocomplete="off"
            type="email"
            class="
              appearance-none
              block
              w-full
              px-3
              py-2
              border border-gray-300
              rounded-md
              shadow-sm
              placeholder-gray-400
              focus:outline-none focus:ring-purple-500 focus:border-purple-500
              sm:text-sm
            "
          />
        </div>
        <button class="btn btn-primary" @click="addEmail">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ml-1 h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import GravatarImage from "../primitives/GravatarImage.vue";

export default {
  components: { GravatarImage },
  props: { user: { type: Object } },
  data() {
    return {
      newEmail: null,
    };
  },
  methods: {
    addEmail() {
      if (this.newEmail) {
        Meteor.call("user.addEmail", this.user._id, this.newEmail);
        this.newEmail = "";
      }
    },
    removeEmail(email) {
      Meteor.call("user.removeEmail", this.user._id, email);
    },
  },
};
</script>

<style></style>
