<template>
  <div>
    <h4 class="text-xl font-bold mb-4">Update Profile Information</h4>
    <form @submit.prevent="handleSubmit" class="flex flex-col gap-4">
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="firstName" class="bg-white px-1">First Name</label>
        </div>
        <input
          id="firstName"
          autocomplete="off"
          v-model="firstName"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="lastName" class="bg-white px-1">Last Name</label>
        </div>
        <input
          id="lastName"
          v-model="lastName"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="street" class="bg-white px-1">Street</label>
        </div>
        <input
          id="street"
          v-model="updatedAddress.street"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="zipCode" class="bg-white px-1">zip Code</label>
        </div>
        <input
          id="zipCode"
          v-model="updatedAddress.zipCode"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="city" class="bg-white px-1">City</label>
        </div>
        <input
          id="city"
          v-model="updatedAddress.city"
          autocomplete="off"
          type="text"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="country" class="bg-white px-1">Country</label>
        </div>

        <select
          v-model="updatedAddress.country"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        >
          <option value=""></option>
          <option v-for="country in countries" v-bind:key="country.name">
            {{ country.name }}
          </option>
        </select>
      </div>

      <div>
        <button class="btn-icon btn-primary" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
            />
          </svg>
          Update User Information
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Countries from "../../../api/collections/Countries";

export default {
  props: {
    user: { type: Object },
  },
  data() {
    return {
      firstName: null,
      lastName: null,
      updatedAddress: {
        street: null,
        zipCode: null,
        city: null,
        country: null,
      },
    };
  },
  mounted() {
    this.firstName = this.$props.user.firstName;
    this.lastName = this.$props.user.lastName;
    this.updatedAddress = { ...this.$props.user.address };
  },
  meteor: {
    $subscribe: {
      allCountries: [],
    },
    countries() {
      return Countries.find({});
    },
  },
  methods: {
    handleSubmit(event) {
      Meteor.call("user.setFirstName", this.$props.user._id, this.firstName);
      Meteor.call("user.setLastName", this.$props.user._id, this.lastName);
      Meteor.call(
        "user.updateAddress",
        this.$props.user._id,
        this.updatedAddress
      );
      // reset form
      this.$emit("formSubmitted");
    },
  },
};
</script>
