<template>
  <div>
    <h4 class="text-xl font-bold mb-4">Edit Public Markdown</h4>
    <form class="flex flex-row gap-4" @submit.prevent="submit()">
      <div class="flex flex-col justify-around">
        <div class="flex flex-col gap-4 justify-around">
          <button class="btn btn-primary" type="submit">Save</button>
          <button
            class="btn btn-secondary"
            @click="mode = 'edit'"
            v-bind:class="mode == 'edit' ? 'btn-warning' : 'btn-secondary'"
            type="button"
          >
            Edit
          </button>
          <button
            class="btn btn-secondary"
            @click="mode = 'both'"
            v-bind:class="mode == 'both' ? 'btn-warning' : 'btn-secondary'"
            type="button"
          >
            Both
          </button>
          <button
            class="btn btn-secondary"
            @click="mode = 'preview'"
            v-bind:class="mode == 'preview' ? 'btn-warning' : 'btn-secondary'"
            type="button"
          >
            Preview
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full">
        <textarea
          v-bind:class="mode == 'edit' || mode == 'both' ? 'block' : 'hidden'"
          rows="10"
          class="resize"
          v-model="markdown"
        ></textarea>
        <MarkdownRender
          v-bind:class="
            mode == 'preview' || mode == 'both' ? 'block' : 'hidden'
          "
          class="border-2 border-black p-4"
          v-bind:markdown="markdown"
        />
      </div>
    </form>
  </div>
</template>

<script>
import MarkdownRender from "../primitives/MarkdownRenderer.vue";
export default {
  props: { user: { type: Object } },
  components: { MarkdownRender },
  data() {
    return {
      markdown: "",
      preview: false,
      mode: "edit", //or preview or both
    };
  },
  mounted() {
    if (this.$props.user) {
      if (this.$props.user.hasOwnProperty("publicMarkdown")) {
        this.markdown = this.$props.user.publicMarkdown;
      }
    }
  },
  methods: {
    submit() {
      if (this.$props.user) {
        Meteor.call(
          "user.setPublicMarkdown",
          this.$props.user._id,
          this.markdown
        );
        this.$emit("formSubmitted");
      }
    },
  },
};
</script>
