<template>
  <MarkdownRenderer v-if="markdown" v-bind:markdown="markdown" />
</template>

<script>
import MarkdownRenderer from "../primitives/MarkdownRenderer.vue";
export default {
  components: { MarkdownRenderer },
  props: { user: { type: Object } },
  computed: {
    markdown() {
      let markdown = null;
      if (this.$props.user.hasOwnProperty("publicMarkdown")) {
        markdown = this.$props.user.publicMarkdown;
      }
      return markdown;
    },
  },
};
</script>
