<template>
<div>
  <h4 class="text-xl font-bold mb-4">Change Password</h4>
  <form @submit.prevent="handleSubmit" class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-col gap-4 flex-wrap">
      <div class="">
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="name" class="bg-white px-1">Password</label>
        </div>
        <input
          id="name"
          v-model="password1"
          autocomplete="off"
          type="password"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
          required
        />
      </div>
      <div class="">
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="name" class="bg-white px-1">Repeat Password</label>
        </div>
        <input
          id="name"
          v-model="password2"
          autocomplete="off"
          type="password"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
          required
        />
      </div>
    </div>
    <div class="flex flex-row gap-4 flex-wrap items-center">
      <button class="btn-icon btn-primary" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
            clip-rule="evenodd"
          />
        </svg>
        Change password
      </button>
      <p v-for="error in this.errors" v-bind:key="error" class="text-red-600">
        {{ error }}
      </p>
    </div>
  </form>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Object },
  },
  data() {
    return {
      errors: [],
      password1: null,
      password2: null,
    };
  },
  methods: {
    handleSubmit(event) {
      this.errors = [];
      if (this.password1 === this.password2) {
        // all good
      } else {
        this.errors.push("Passwords do not match.");
      }
      if (this.password1) {
        // all good
      } else {
        this.errors.push("Password cannot be empty.");
      }
      if (this.password1.length < 6) {
        this.errors.push("Password must be at least 6 characters long.");
      }
      if (this.errors.length == 0) {
        this.$emit("formSubmitted");
        Meteor.call("user.setPassword", this.$props.user._id, this.password1);
        this.password1 = null;
        this.password2 = null;
      }
    },
  },
};
</script>

<style></style>
