<template>
  <div>
    <button class="btn btn-success" @click="togglePdfModal()">PDF</button>
    <ModalElement v-if="this.showPdfModal" @close="showPdfModal = false">
      <div
          style="height: 65vh"
          class="w-full h-full flex flex-col overflow-hidden"
      >
        <iframe
            v-if="invoice.b64Pdf"
            class="flex-grow"
            :src="'data:application/pdf;base64,' + invoice.b64Pdf"
        >
        </iframe>
        <p v-else class="text-red-500">No pdf to be displayed</p>
      </div>
    </ModalElement>
  </div>
</template>

<script>
import ModalElement from "../primitives/ModalElement.vue";

export default {
  components: {ModalElement},
  props: {invoice: {type: Object}},
  data() {
    return {
      showPdfModal: false,
    };
  },
  methods: {
    togglePdfModal() {
      this.showPdfModal = !this.showPdfModal;
    },
  },
};
</script>
