<template>
  <div class="rounded bg-gray-100 p-4 flex flex-col gap-4">
    <div class="flex flex-row flex-wrap gap-2 justify-between items-center">
      <h3 class="font-bold text-2xl text-purple-600">
        Invoice {{ invoice.number }}
      </h3>
      <p class="bg-purple-100 text-purple-600 rounded p-2">
        {{ invoice.currency.name }}
      </p>
    </div>
    <div
        v-if="invoice.finalizedAt"
        class="bg-green-100 text-green-600 border border-green-600 rounded p-4 flex flex-row gap-4 flex-wrap items-center"
    >
      <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
      >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
        />
      </svg>
      <p>
        Finalized:
        <span class="font-bold">{{ invoice.finalizedAt.toDateString() }}</span>
      </p>
    </div>
    <p v-if="invoice.date">from: {{ invoice.date.toDateString() }}</p>
    <InvoiceUpdateDate :invoice="invoice"></InvoiceUpdateDate>
    <p>
      period:
      <span v-if="invoice.periodStart" class="font-bold">{{
          invoice.periodStart.toDateString()
        }}</span>
      -
      <span v-if="invoice.periodEnd" class="font-bold">{{
          invoice.periodEnd.toDateString()
        }}</span>
    </p>

    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2 items-center">

        <h4 class="font-bold">Customer:</h4>
        <button v-if="!invoice.finalizedAt" class="btn btn-secondary" @click="handleRefreshCustomer()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                  d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                  clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <CustomerCard
          v-if="invoice.customer"
          v-bind:customer="invoice.customer"
          v-bind:showControls="false"
      ></CustomerCard>
    </div>
    <div v-if="invoice.invoiceTemplate" class="flex flex-col gap-2">
      <div class="flex flex-row gap-2 items-center">
        <h4 class="font-bold">Template:</h4>
        <button v-if="!invoice.finalizedAt" class="btn btn-secondary" @click="handleRefreshTemplate()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                  d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                  clip-rule="evenodd"/>
          </svg>

        </button>
      </div>

      <InvoiceTemplateListCard
          v-bind:invoiceTemplate="invoice.invoiceTemplate"
      ></InvoiceTemplateListCard>
    </div>
    <div v-if="!invoice.finalizedAt" class="p-2">
      <AddInvoiceElement v-bind:invoice="invoice"></AddInvoiceElement>
    </div>
    <div class="flex flex-col gap-2">
      <InvoiceElement
          v-for="element in invoice.invoiceElements"
          v-bind:key="element.id"
          v-bind:invoiceElement="element"
          v-bind:invoice="invoice"
      ></InvoiceElement>
    </div>
    <div v-if="!invoice.finalizedAt" class="flex flex-row flex-wrap gap-2">
      <InvoiceDeleteButton v-bind:invoice="invoice"/>
    </div>
    <div>
      <h3 class="font-bold text-purple-600">
        Total:
        <span v-if="invoice.total !== null">
          {{ invoice.total.toFixed(2) }} {{ invoice.currency.symbol }}</span
        >
        <span v-else>?</span>
      </h3>
    </div>
  </div>
</template>

<script>
import CompanyCard from "../companies/CompanyCard.vue";
import CustomerCard from "../customers/CustomerCard.vue";
import AddInvoiceElement from "./invoiceElements/AddInvoiceElement.vue";
import InvoiceElement from "./invoiceElements/InvoiceElement.vue";
import InvoiceDeleteButton from "./InvoiceDeleteButton.vue";
import InvoiceTemplateListCard from "../invoiceTemplates/InvoiceTemplateListCard.vue";
import InvoiceUpdateDate from "./InvoiceUpdateDate";

export default {
  components: {
    InvoiceUpdateDate,
    InvoiceDeleteButton,
    CompanyCard,
    CustomerCard,
    AddInvoiceElement,
    InvoiceElement,
    InvoiceTemplateListCard,
  },
  props: {invoice: {type: Object}},
  methods: {
    handleRefreshTemplate: function () {
      Meteor.call('invoice.refreshTemplate', this.$props.invoice._id)
    },
    handleRefreshCustomer: function () {
      Meteor.call('invoice.refreshCustomer', this.$props.invoice._id)
    },
  }
};
</script>
