<template>
  <div class="rounded bg-gray-100 p-4 flex flex-col gap-4 relative">
    <h3
      class="font-bold text-lg text-purple-600 flex flex-row gap-4 items-center"
    >
      Invoice {{ invoice.number }}
      <InvoiceViewPdfButton :invoice="invoice" v-if="invoice.b64Pdf">
      </InvoiceViewPdfButton>
    </h3>

    <p v-if="invoice.date">from: {{ invoice.date.toDateString() }}</p>
    <p>
      period:
      <span v-if="invoice.periodStart" class="font-bold">{{
        invoice.periodStart.toDateString()
      }}</span>
      -
      <span v-if="invoice.periodEnd" class="font-bold">{{
        invoice.periodEnd.toDateString()
      }}</span>
    </p>

    <div class="flex flex-col gap-2">
      <h4 v-if="invoice.customer" class="font-bold">
        Customer:
        <span class="text-purple-600">{{ invoice.customer.name }}</span>
      </h4>
    </div>
    <div
      v-if="invoice.invoiceElements"
      class="flex flex-col gap-2 text-purple-500"
    >
      {{ invoice.invoiceElements.length }} Invoice Elements
    </div>
    <div>
      <h3 class="font-bold text-purple-600">
        Total:
        <span v-if="invoice.total !== null">
          {{ invoice.total.toFixed(2) }} {{ invoice.currency.symbol }}</span
        >
        <span v-else>?</span>
      </h3>
    </div>
  </div>
</template>

<script>
import CompanyCard from "../companies/CompanyCard.vue";
import CustomerCard from "../customers/CustomerCard.vue";
import AddInvoiceElement from "./invoiceElements/AddInvoiceElement.vue";
import InvoiceElement from "./invoiceElements/InvoiceElement.vue";
import InvoiceDeleteButton from "./InvoiceDeleteButton.vue";
import InvoiceViewPdfButton from "./InvoiceViewPdfButton.vue";

export default {
  components: {
    InvoiceDeleteButton,
    CompanyCard,
    CustomerCard,
    AddInvoiceElement,
    InvoiceElement,
    InvoiceViewPdfButton,
  },
  props: { invoice: { type: Object } },
};
</script>
