<template>
  <div>
    <button class="btn btn-secondary" @click="showPdfPreview()">
      <svg
          v-if="working"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 animate-spin"
          viewBox="0 0 20 20"
          fill="currentColor"
      >
        <path
            fill-rule="evenodd"
            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
            clip-rule="evenodd"
        />
      </svg>
      <span>PDF Preview</span></button>
    <ModalElement v-if="this.showPdfModal" @close="showPdfModal = false">
      <div
          style="height: 65vh"
          class="w-full h-full flex flex-col overflow-hidden"
      >
        <iframe
            v-if="b64Pdf"
            class="flex-grow"
            :src="'data:application/pdf;base64,' + b64Pdf"
        >
        </iframe>
        <p v-else class="text-red-500">No pdf to be displayed</p>
      </div>
    </ModalElement>
  </div>
</template>

<script>
import ModalElement from "../primitives/ModalElement.vue";

export default {
  components: {ModalElement},
  props: {invoice: {type: Object}},
  data() {
    return {
      showPdfModal: false,
      b64Pdf: null,
      working: false,
    };
  },
  methods: {
    togglePdfModal() {
      this.showPdfModal = !this.showPdfModal;
    },
    showPdfPreview() {
      this.working = true;

      Meteor.call(
          "render.pdf_creator",
          this.invoice.invoiceTemplate.template,
          this.invoice.invoiceTemplate.options,
          this.invoice,
          (error, result) => {
            if (error) {
              this.working = false;
              console.log(error);
              alert(error);
            }
            if (result) {
              this.working = false;
              this.b64Pdf = result;
              this.togglePdfModal();
              //window.open("data:application/pdf;base64," + result);
            }
          }
      );
    },
  },
};
</script>
