<template>
  <div class="flex flex-col gap-4">
    <div
        class="bg-white rounded p-4 text-purple-700 flex flex-row justify-between items-center"
    >
      <h3 v-if="invoice" class="text-xl font-bold">
        Invoice {{ invoice.number }} Detail
      </h3>
      <h3 v-else class="text-xl font-bold">Invoice Detail</h3>
    </div>

    <div v-if="invoice" class="bg-white rounded p-4">
      <div class="flex flex-row gap-2">
        <InvoiceFinalize v-if="!invoice.finalizedAt" :invoice="invoice"></InvoiceFinalize>
        <InvoiceDeleteButton v-if="!invoice.finalizedAt" :invoice="invoice"></InvoiceDeleteButton>
        <InvoiceViewPdfButton :invoice="invoice" v-if="invoice.b64Pdf">
        </InvoiceViewPdfButton>
        <InvoiceRenderPdfPreviewButton :invoice="invoice" v-if="!invoice.finalizedAt"></InvoiceRenderPdfPreviewButton>
      </div>
    </div>

    <div v-if="invoice" class="bg-white rounded p-4">
      <div class="flex flex-col gap-4">
        <InvoiceCard v-bind:invoice="invoice"></InvoiceCard>
      </div>
    </div>

    <div v-else class="flex flex-col gap-4">
      <div
          class="text-red-700 bg-red-200 rounded p-4 flex flex-row gap-4 items-center"
      >
        <span> This invoice does not exist, maybe it has been deleted. </span>
        <router-link to="/invoices" class="btn btn-primary">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
          >
            <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
            />
          </svg>
          Invoice Overview
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Invoices from "../../../api/collections/Invoices";

import InvoiceCard from "./InvoiceCard.vue";
import InvoiceDeleteButton from "./InvoiceDeleteButton.vue";
import InvoiceFinalize from "./InvoiceFinalize.vue";
import InvoiceViewPdfButton from "./InvoiceViewPdfButton.vue";
import InvoiceRenderPdfPreviewButton from "./InvoiceRenderPdfPreviewButton";

export default {
  components: {
    InvoiceRenderPdfPreviewButton,
    InvoiceCard,
    InvoiceFinalize,
    InvoiceDeleteButton,
    InvoiceViewPdfButton,
  },
  computed: {
    invoice() {
      return Invoices.findOne({_id: this.$route.params.id});
    },
  },
  meteor: {
    $subscribe: {
      invoices: [],
    },
    currentUser() {
      return Meteor.user();
    },
    invoice() {
      return Invoices.findOne({_id: this.$route.params.id});
    },
  },
};
</script>
