<template>
  <div>
    <form @submit.prevent="handleSubmit()" class="flex flex-row gap-2 items-center">
      <input

          :value="
              date &&
              date.toISOString().split('T')[0]
            "
          @input="date = $event.target.valueAsDate"
          autocomplete="off"
          type="date"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
      />
      <button type="submit" class="btn btn-secondary">
        Save
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "InvoiceUpdateDate",
  props: {
    invoice: {type: Object}
  },
  mounted() {
    this.date = this.$props.invoice.date;
  },
  data() {
    return {
      date: null,
    }
  },
  methods: {
    handleSubmit: function () {
      Meteor.call(
          "invoice.updateInvoiceDate",
          this.$props.invoice._id,
          this.date
      );
      // reset form
      this.$emit("formSubmitted");
    },
  },
}
</script>
