<template>
  <div>
    <button class="btn btn-warning" @click="toggleFinalizeModal()">
      Finalize
    </button>
    <ModalElement
        v-if="this.showFinalizeModal"
        @close="showFinalizeModal = false"
    >
      <div class="flex flex-col gap-4">
        <h3 class="font-bold text-purple-700">
          Finalize Invoice {{ invoice.number }}?
        </h3>
        <p>Render a pdf for this invoice</p>
        <p>This cannot be undone!</p>
        <div class="flex flex-row gap-4 justify-between">
          <button class="btn btn-warning" @click="handleFinalize()">
            <svg
                v-if="working"
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 animate-spin"
                viewBox="0 0 20 20"
                fill="currentColor"
            >
              <path
                  fill-rule="evenodd"
                  d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"
              />
            </svg>
            <span>Finalize</span>
          </button>
          <button class="btn btn-secondary" @click="toggleFinalizeModal()">
            Abort
          </button>
        </div>
      </div>
    </ModalElement>
  </div>
</template>

<script>
import ModalElement from "../primitives/ModalElement.vue";

export default {
  components: {ModalElement},
  props: {invoice: {type: Object}},
  data() {
    return {
      showFinalizeModal: false,
      working: false,
    };
  },
  methods: {
    toggleFinalizeModal() {
      this.showFinalizeModal = !this.showFinalizeModal;
    },
    handleFinalize() {
      this.working = true;


      Meteor.call(
          "invoice.finalize",
          this.invoice._id,
          (error, result) => {
            this.working = false;
            this.showFinalizeModal = false;
          }
      );

    },
  },
};
</script>
