<template>
  <div class="flex flex-col gap-2">
    <h3>Invoice Data</h3>

    <select v-model="selectedInvoice" class="p-2 rounded">
      <option
        v-for="invoice in invoices"
        v-bind:key="invoice._id"
        v-bind:value="invoice"
      >
        {{ invoice.number }} {{ invoice.customer.name }}
      </option>
    </select>

    <ObjectArrayDisplay
      v-if="selectedInvoice"
      v-bind:variable="selectedInvoice"
    ></ObjectArrayDisplay>
  </div>
</template>

<script>
import ObjectArrayDisplay from "../primitives/recursiveDisplay/ObjectArrayDisplay.vue";
import Invoices from "../../../api/collections/Invoices";

export default {
  components: { ObjectArrayDisplay },
  data() {
    return { selectedInvoice: null };
  },
  meteor: {
    $subscribe: {
      invoices: [],
    },
    invoices() {
      var invoices = Invoices.find({}, { sort: { date: -1 } });
      return invoices;
    },
  },
};
</script>
