<template>
  <div class="flex flex-col gap-6">
    <div
      v-if="invoices.length == 0"
      class="flex flex-col justify-around items-center text-gray-400"
    >
      <!-- prompt to create a Invoice -->
      <div class="flex flex-col justify-around items-center gap-4">
        <p>Add your first invoice below</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 animate-bounce"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 14l-7 7m0 0l-7-7m7 7V3"
          />
        </svg>
      </div>
    </div>
    <div
      v-for="invoice in invoices"
      v-bind:key="invoice._id"
      class="relative group"
    >
      <InvoiceListCard v-bind:invoice="invoice"> </InvoiceListCard>
      <router-link
        :to="{ name: 'invoiceDetail', params: { id: invoice._id } }"
        class="z-0 absolute top-3 right-3 btn-icon btn-secondary"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </router-link>
    </div>
  </div>
</template>

<script>
import Invoices from "../../../api/collections/Invoices";
import InvoiceListCard from "./InvoiceListCard.vue";
export default {
  components: { InvoiceListCard },
  props: {
    showFilters: { type: Boolean, default: true },
  },
  meteor: {
    $subscribe: {
      invoices: [],
    },
    invoices() {
      return Invoices.find({}, { sort: { date: -1 } });
    },
  },
};
</script>
