<template>
  <form @submit.prevent="handleSubmit">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl text-purple-700">Add a new Invoice</h2>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="name" class="bg-white px-1">Date</label>
        </div>
        <input
          id="name"
          :value="
            newInvoice.date && newInvoice.date.toISOString().split('T')[0]
          "
          @input="newInvoice.date = $event.target.valueAsDate"
          autocomplete="off"
          type="date"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
        />
      </div>
      <div class="flex flex-row gap-2 justify-between items-center">
        <div class="grow">
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="periodStart" class="bg-white px-1">Period Start</label>
          </div>
          <input
            id="periodStart"
            :value="
              newInvoice.periodStart &&
              newInvoice.periodStart.toISOString().split('T')[0]
            "
            @input="newInvoice.periodStart = $event.target.valueAsDate"
            autocomplete="off"
            type="date"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div class="grow">
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="periodEnd" class="bg-white px-1">Period End</label>
          </div>
          <input
            id="periodEnd"
            :value="
              newInvoice.periodEnd &&
              newInvoice.periodEnd.toISOString().split('T')[0]
            "
            @input="newInvoice.periodEnd = $event.target.valueAsDate"
            autocomplete="off"
            type="date"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
      </div>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="customer" class="bg-white px-1">Customer</label>
        </div>

        <select
          v-model="newInvoice.customerId"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
        >
          <option
            v-for="customer in customers"
            v-bind:key="customer._id"
            :value="customer._id"
          >
            {{ customer.name }}
          </option>
        </select>
      </div>
      <div v-if="selectedCustomer">
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="customerContactPerson" class="bg-white px-1"
            >Contact Person</label
          >
        </div>
        <select
          v-model="newInvoice.customerContactPerson"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        >
          <option value=""></option>

          <option
            v-for="contactPerson in selectedCustomer.contactPersons"
            v-bind:key="contactPerson.id"
            :value="contactPerson"
          >
            {{ contactPerson.first_name }}
            {{ contactPerson.last_name }}
          </option>
        </select>
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="currency" class="bg-white px-1">Template</label>
        </div>
        <select
          v-model="newInvoice.invoiceTemplate"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
        >
          <option
            v-for="invoiceTemplate in invoiceTemplates"
            v-bind:key="invoiceTemplate.id"
            :value="invoiceTemplate"
          >
            {{ invoiceTemplate.name }}
          </option>
        </select>
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="currency" class="bg-white px-1">Currency</label>
        </div>
        <select
          v-model="newInvoice.currency"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
        >
          <option
            v-for="currency in company.currencies"
            v-bind:key="currency.id"
            :value="currency"
          >
            {{ currency.name }}({{ currency.symbol }})
          </option>
        </select>
      </div>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="currency" class="bg-white px-1">Locale</label>
        </div>
        <input
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          v-model="newInvoice.localeString"
          required
        />
      </div>
    </div>

    <div class="mt-4">
      <button class="btn-icon btn-primary" type="submit">Add invoice</button>
    </div>
  </form>
</template>

<script>
import InvoiceTemplates from "../../../api/collections/InvoiceTemplates";
import Companies from "../../../api/collections/Companies";
import Customers from "../../../api/collections/Customers";

export default {
  data() {
    return {
      errors: [],
      newInvoice: {
        localeString: "en-GB",
        customerId: null,
        companyId: null,
        customerContactPerson: null,
        date: new Date(),
        periodStart: null,
        periodEnd: null,
        currency: null,
        total: 0,
        b64Pdf: null,
        finalizedAt: null,
      },
    };
  },
  methods: {
    handleSubmit() {
      Meteor.call("invoice.add", this.newInvoice);

      this.$emit("formSubmitted");
    },
  },
  meteor: {
    $subscribe: {
      customers: [],
      companies: [],
      invoiceTemplates: [],
    },
    customers() {
      return Customers.find({});
    },
    selectedCustomer() {
      if (this.newInvoice.customerId) {
        return Customers.findOne({ _id: this.newInvoice.customerId });
      }
    },
    invoiceTemplates() {
      return InvoiceTemplates.find({});
    },
    company() {
      var user = Meteor.user();
      if (user.hasOwnProperty("activeCompany")) {
        return Companies.findOne({ _id: user.activeCompany });
      }
    },
  },
};
</script>
