<template>
  <div class="flex flex-col gap-4">
    <div
      class="
        bg-white
        rounded
        p-4
        text-purple-700
        flex flex-row
        justify-between
        items-center
      "
    >
      <h3 class="text-xl font-bold">Companies</h3>
      <button @click="showCompanyAddModal = true" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 absolute -top-3 -right-3"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="bg-white rounded p-4">
      <CompanyList />
    </div>
    <ModalElement
      v-if="showCompanyAddModal"
      @close="showCompanyAddModal = false"
    >
      <CompanyAdd />
    </ModalElement>
  </div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import CompanyList from "./companies/CompanyList.vue";
import CompanyAdd from "./companies/CompanyAdd.vue";
import ModalElement from "./primitives/ModalElement.vue";
export default {
  components: { CompanyList, CompanyAdd, ModalElement },
  data() {
    return { showCompanyAddModal: false };
  },
  meteor: {
    $subscribe: {},
    currentUser() {
      return Meteor.user();
    },
    currentUsersRoles() {
      // the user doing the editing
      return Meteor.roleAssignment
        .find({ "user._id": Meteor.userId() })
        .fetch()
        .map(function (x) {
          return x.role._id;
        });
    },
  },
};
</script>
