<template>
  <div class="flex flex-col gap-4">
    <div
      class="
        bg-white
        rounded
        p-4
        text-purple-700
        flex flex-row
        justify-between
        items-center
      "
    >
      <h3 class="text-purple-700 text-xl font-bold">Customers</h3>
      <button @click="showCustomerAddModal = true" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 absolute -top-3 -right-3"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="bg-white rounded p-4">
      <CustomerList />
    </div>
    <ModalElement
      v-if="showCustomerAddModal"
      @close="showCustomerAddModal = false"
    >
      <CustomerAdd v-on:formSubmitted="showCustomerAddModal = false" />
    </ModalElement>
  </div>
</template>

<script>
import CustomerList from "./customers/CustomerList.vue";
import CustomerAdd from "./customers/CustomerAdd.vue";
import ModalElement from "./primitives/ModalElement.vue";

export default {
  components: { CustomerAdd, CustomerList, ModalElement },
  data() {
    return { showCustomerAddModal: false };
  },
};
</script>
