<template>
  <div class="bg-white rounded p-4 shadow flex flex-col gap-6">
    <div>
      <h2 class="text-xl font-bold">Hello</h2>
      <input
        v-model="text"
        class="
          appearance-none
          block
          w-full
          px-3
          py-2
          border border-gray-300
          rounded-md
          shadow-sm
          placeholder-gray-400
          focus:outline-none focus:ring-purple-500 focus:border-purple-500
          sm:text-sm
        "
      />
      <p>Your text: {{ text }} {{ combine }}</p>
      <div class="flex flex-row gap-4">
        <button @click="increment" class="btn-icon btn-success my-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </button>
        <button @click="decrement" class="btn-icon btn-danger my-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 12H6"
            />
          </svg>
        </button>
      </div>
      <p>You've pressed the button {{ counter }} times.</p>
      <p v-if="counter < -10" class="text-red-500">Oh no :(</p>

      <p v-for="item in items" v-bind:key="item">{{item}}</p>

    </div>

    <html-to-pdf />
  </div>
</template>

<script>
import HtmlToPdf from "./demo/HtmlToPdf.vue";
export default {
  components: { HtmlToPdf },
  data() {
    return {
      counter: 0,
      text: null,
      items: ['apple', 'orange', 'mango'],
    };
  },
  computed: {
    combine() {
      return this.counter + this.text;
    },
  },
  methods: {
    increment() {
      this.counter += 1;
    },
    decrement() {
      this.counter -= 5;
    },
  },
  meteor: {
    $subscribe: {},
    currentUser() {
      return Meteor.user();
    },
  },
  computed:{
  combine(){
    return this.counter + this.text
  },
  },
};
</script>
