<template>
  <div class="flex flex-col gap-4">
    <div class="rounded p-2 bg-white">
      <h2 class="font-bold text-2xl">Tutorial</h2>
    </div>

    <div class="rounded p-2 bg-white flex flex-col gap-4">
      <h3 class="font-bold text-xl">Company</h3>
      <p>
        First, you should create a company. You can do that
        <router-link :to="{ name: 'companies' }" class="text-purple-500">
          here</router-link
        >. If you are enrolled in multiple companies, you can use the selector
        on the top of the page or in the menu to the right to swich between
        them. This application only displays information for one company at a
        time.
      </p>
      <p>Remenber to define a currency for your new company!</p>

      <div
        v-if="companies.length > 0"
        class="text-green-700 bg-green-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <p>You are currently enrolled in {{ companies.length }} companies.</p>
      </div>
      <div
        v-else
        class="text-gray-700 bg-gray-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <p>You are currently enrolled in {{ companies.length }} companies.</p>
      </div>
    </div>
    <div class="rounded p-2 bg-white flex flex-col gap-4" v-if="activeCompany">
      <h3 class="font-bold text-xl">Customers</h3>
      <p>
        Every company has a small cms that holds information about the customers
        and their contact persons. If not done already, you should now add a
        customer.
      </p>
      <div
        v-if="customers && customers.length > 0"
        class="text-green-700 bg-green-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has
          {{ customers.length }} customers.
        </p>
      </div>
      <div
        v-else
        class="text-gray-700 bg-gray-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has
          {{ customers.length }} customers.
        </p>
      </div>
    </div>
    <div
      class="rounded p-2 bg-white flex flex-col gap-4"
      v-if="activeCompany && customers.length > 0"
    >
      <h3 class="font-bold text-xl">Invoice Templates</h3>
      <p>Next, you should create an invoice template for your company.</p>

      <div
        v-if="invoiceTemplates.length > 0"
        class="text-green-700 bg-green-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has
          {{ invoiceTemplates.length }} invoice templates.
        </p>
      </div>
      <div
        v-else
        class="text-gray-700 bg-gray-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has
          {{ invoiceTemplates.length }} invoice templates.
        </p>
      </div>
    </div>
    <div
      class="rounded p-2 bg-white flex flex-col gap-4"
      v-if="
        activeCompany && customers.length > 0 && invoiceTemplates.length > 0
      "
    >
      <h3 class="font-bold text-xl">Invoices</h3>
      <p>Now it is time to write some invoices.</p>
      <div
        v-if="invoices.length > 0"
        class="text-green-700 bg-green-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has {{ invoices.length }} invoices.
        </p>
      </div>
      <div
        v-else
        class="text-gray-700 bg-gray-100 rounded p-2 flex flex-row flex-wrap gap-2 items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <p>
          {{ activeCompany.name }} currently has {{ invoices.length }} invoices.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Companies from "../../api/collections/Companies";
import Customers from "../../api/collections/Customers";
import InvoiceTemplates from "../../api/collections/InvoiceTemplates";
import Invoices from "../../api/collections/Invoices";

export default {
  data() {
    return {};
  },
  meteor: {
    $subscribe: {
      companies: [],
      customers: [],
      invoiceTemplates: [],
      invoices: [],
    },
    companies() {
      var user = Meteor.user();
      if (user) {
        return Companies.find({ users: { $in: [user._id] } });
      } else {
        return [];
      }
    },
    customers() {
      return Customers.find({});
    },
    activeCompany() {
      var user = Meteor.user();
      if (user) {
        if (user.activeCompany) {
          return Companies.findOne({ _id: user.activeCompany });
        }
      } else {
        return null;
      }
    },
    invoiceTemplates() {
      return InvoiceTemplates.find({});
    },
    invoices() {
      return Invoices.find({});
    },
  },
};
</script>
