<template>
  <div class="flex flex-col gap-4">
    <div class="rounded p-2 bg-white">
      <h2 class="font-bold text-2xl">
        Invoice Template Variables Documentation
      </h2>
    </div>

    <div class="p-4 bg-white rounded">
      <InvoiceVariablesDisplay></InvoiceVariablesDisplay>
    </div>
  </div>
</template>

<script>
import InvoiceVariablesDisplay from "./invoices/InvoiceVariablesDisplay.vue";

export default { components: { InvoiceVariablesDisplay } };
</script>

<style></style>
