<template>
  <div class="flex flex-col gap-4">
    <div
      class="bg-white rounded p-4 text-purple-700 flex flex-row justify-between items-center"
    >
      <h3 class="text-xl font-bold">Invoice Templates</h3>
      <button @click="showInvoiceTemplateAddModal = true" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
          />
        </svg>
      </button>
    </div>
    <InvoiceTemplateList></InvoiceTemplateList>
    <ModalElement
      v-if="showInvoiceTemplateAddModal"
      @close="showInvoiceTemplateAddModal = false"
    >
      <InvoiceTemplateAddForm
        v-on:formSubmitted="showInvoiceTemplateAddModal = false"
      />
    </ModalElement>
  </div>
</template>

<script>
import ModalElement from "./primitives/ModalElement.vue";
import InvoiceTemplateList from "./invoiceTemplates/InvoiceTemplateList.vue";
import InvoiceTemplateAddForm from "./invoiceTemplates/InvoiceTemplateAddForm.vue";
export default {
  components: { InvoiceTemplateList, ModalElement, InvoiceTemplateAddForm },
  data() {
    return {
      showInvoiceTemplateAddModal: false,
    };
  },
};
</script>
