<template>
  <div class="flex flex-col gap-4">
    <div
      class="bg-white rounded p-4 text-purple-700 flex flex-row justify-between items-center"
    >
      <h3 class="text-purple-700 text-xl font-bold">Invoices</h3>
      <button @click="showInvoiceAddModal = true" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 absolute -top-3 -right-3"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="bg-white rounded p-4">
      <InvoiceList />
    </div>
    <ModalElement
      v-if="showInvoiceAddModal"
      @close="showInvoiceAddModal = false"
    >
      <InvoiceAdd v-on:formSubmitted="showInvoiceAddModal = false" />
    </ModalElement>
  </div>
</template>

<script>
import ModalElement from "./primitives/ModalElement.vue";
import InvoiceAdd from "./invoices/InvoiceAdd.vue";
import InvoiceList from "./invoices/InvoiceList.vue";
export default {
  components: { ModalElement, InvoiceAdd, InvoiceList },
  data() {
    return { showInvoiceAddModal: false };
  },
};
</script>
