<template>
  <div class="flex flex-col gap-4">
    <div class="bg-white rounded p-4 flex flex-col gap-8">
      <h3 class="font-bold text-xl flex flex-row gap-2 items-center">
        <user-avatar
          v-bind:user="currentUser"
          class="h-20 w-20 overflow-hidden rounded shadow"
        />

        <div class="flex flex-col">
          <span v-if="currentUser.firstName || currentUser.lastName"
            >{{ currentUser.firstName }} {{ currentUser.lastName }}</span
          >
          <span
            v-if="currentUser.firstName || currentUser.lastName"
            class="text-gray-400 text-sm"
            >{{ currentUser.username }}</span
          >
          <span v-if="!(currentUser.firstName || currentUser.lastName)">{{
            currentUser.username
          }}</span>
        </div>
      </h3>
      <div class="flex flex-row gap-2 flex-wrap">
        <button
          class="btn"
          @click="showProfileInfoEdit = true"
          v-bind:class="showProfileInfoEdit ? 'btn-warning' : 'btn-secondary'"
        >
          Update Profile Info
        </button>
        <button
          class="btn"
          @click="showPasswordUpdate = true"
          v-bind:class="showPasswordUpdate ? 'btn-warning' : 'btn-secondary'"
        >
          Change password
        </button>

        <button
          class="btn"
          @click="showEmailUpdate = true"
          v-bind:class="showEmailUpdate ? 'btn-warning' : 'btn-secondary'"
        >
          Edit Emails
        </button>
        <button
          class="btn"
          @click="showPublicMarkdownEdit = true"
          v-bind:class="
            showPublicMarkdownEdit ? 'btn-warning' : 'btn-secondary'
          "
        >
          Edit Public Markdown
        </button>
      </div>
      <AddressElement
        v-bind:address="currentUser.address"
        v-bind:title="'Address'"
      />

      <ModalElement
        v-if="showProfileInfoEdit"
        @close="showProfileInfoEdit = false"
      >
        <UserInfoForm
          v-bind:user="currentUser"
          v-on:formSubmitted="showProfileInfoEdit = false"
        />
      </ModalElement>
      <ModalElement
        v-if="showPasswordUpdate"
        @close="showPasswordUpdate = false"
      >
        <UserPasswordChangeForm
          v-bind:user="currentUser"
          v-on:formSubmitted="showPasswordUpdate = false"
        />
      </ModalElement>

      <ModalElement v-if="showEmailUpdate" @close="showEmailUpdate = false">
        <UserEmails v-bind:user="currentUser" />
      </ModalElement>

      <ModalElement
        v-if="showPublicMarkdownEdit"
        @close="showPublicMarkdownEdit = false"
      >
        <UserPublicMarkdownForm
          v-bind:user="currentUser"
          v-on:formSubmitted="showPublicMarkdownEdit = false"
        />
      </ModalElement>
    </div>
    <div class="bg-white rounded p-4 flex flex-col gap-2">
      <p class="text-purple-500 font-bold text-center">
        This is the current content of your public page:
      </p>
      <UserPubliclMarkdown v-bind:user="currentUser" />
    </div>
  </div>
</template>

<script>
import UserAvatar from "./user/UserAvatar.vue";
import UserEmails from "./user/UserEmails.vue";
import UserPasswordChangeForm from "./user/UserPasswordChangeForm.vue";
import UserPublicMarkdownForm from "./user/UserPublicMarkdownForm.vue";
import UserPubliclMarkdown from "./user/UserPublicMarkdown.vue";
import UserInfoForm from "./user/UserInfoForm.vue";
import ModalElement from "./primitives/ModalElement.vue";
import AddressElement from "./primitives/contact/AddressElement.vue";
export default {
  components: {
    UserPasswordChangeForm,
    UserInfoForm,
    UserEmails,
    UserAvatar,
    UserInfoForm,
    ModalElement,
    UserPublicMarkdownForm,
    UserPubliclMarkdown,
    AddressElement,
  },
  data() {
    return {
      showProfileInfoEdit: false,
      showPasswordUpdate: false,
      showEmailUpdate: false,
      showPublicMarkdownEdit: false,
    };
  },
  meteor: {
    $subscribe: {},
    currentUser() {
      return Meteor.user();
    },
  },
};
</script>
