<template>
  <div class="flex flex-col gap-4" v-if="currentUsersRoles.includes('admin')">
    <div
      class="
        bg-white
        rounded
        p-4
        text-purple-700
        flex flex-row
        justify-between
        items-center
      "
    >
      <h3 class="text-xl font-bold">Users</h3>
      <button @click="showAdduserModal = true" class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 absolute -top-3 -right-3"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <UserList v-bind:showFilters="true" v-bind:showControls="true" />
    <ModalElement v-if="showAdduserModal" @close="showAdduserModal = false">
      <AddUser />
    </ModalElement>
  </div>
</template>

<script>
import { Meteor } from "meteor/meteor";
import UserList from "./user/UserList.vue";
import AddUser from "./user/AddUser.vue";
import ModalElement from "./primitives/ModalElement.vue";
export default {
  components: {
    UserList,
    AddUser,
    ModalElement,
  },
  data() {
    return { showAdduserModal: false };
  },
  meteor: {
    $subscribe: {},
    currentUser() {
      return Meteor.user();
    },
    currentUsersRoles() {
      // the user doing the editing
      return Meteor.roleAssignment
        .find({ "user._id": Meteor.userId() })
        .fetch()
        .map(function (x) {
          return x.role._id;
        });
    },
  },
};
</script>
