<template>
  <div class="flex flex-col gap-4">
    <div class="bg-white rounded p-4 flex flex-col gap-8">
      <h3 class="font-bold text-xl flex flex-row gap-2 items-center">
        <UserAvatar
          v-bind:user="currentUser"
          class="h-20 w-20 overflow-hidden rounded shadow"
        />
        <div class="flex flex-col">
          <span v-if="currentUser.firstName || currentUser.lastName"
            >{{ currentUser.firstName }} {{ currentUser.lastName }}</span
          >
          <span
            v-if="currentUser.firstName || currentUser.lastName"
            class="text-gray-400 text-sm"
            >{{ currentUser.username }}</span
          >
          <span v-if="!(currentUser.firstName || currentUser.lastName)">{{
            currentUser.username
          }}</span>
        </div>
      </h3>
      <UserPersonalMarkdown v-bind:user="currentUser" />
    </div>
  </div>
</template>

<script>
import UserAvatar from "./user/UserAvatar.vue";
import UserPersonalMarkdown from "./user/UserPublicMarkdown.vue";
export default {
  components: { UserAvatar, UserPersonalMarkdown },
  computed: {
    currentUser() {
      return Meteor.users.findOne({ _id: this.$route.params.id });
    },
  },
  meteor: {
    $subscribe: ["allUsers"],
    currentUser() {
      return Meteor.users.findOne({ _id: this.$route.params.id });
    },
  },
};
</script>
