<template>
  <div class="text-gray-700">
    <div v-if="!currentUser" class="">
      <LoginPage></LoginPage>
    </div>
    <div v-else>
      <nav
          class="bg-gradient-to-br from-purple-400 to-purple-300 shadow-lg sticky top-0 flex flex-row gap-4 justify-between items-center px-6 sm:px-10 py-4 z-30"
      >
        <router-link to="/">
          <h1 class="text-2xl font-bold text-purple-900">Sleek Invoicer</h1>
        </router-link>
        <div class="flex flex-row gap-4 items-center">
          <div class="hidden md:contents">
            <router-link :to="{ name: 'home' }">Hello</router-link>
            <router-link :to="{ name: 'companies' }">Companies</router-link>
            <router-link
                :to="{ name: 'customers' }"
                v-if="enrolledCompanies.length > 0"
            >Customers
            </router-link
            >
            <router-link
                :to="{ name: 'invoiceTemplates' }"
                v-if="enrolledCompanies.length > 0"
            >Templates
            </router-link
            >
            <router-link
                :to="{ name: 'invoices' }"
                v-if="enrolledCompanies.length > 0"
            >Invoices
            </router-link
            >

            <router-link
                :to="{ name: 'users' }"
                v-if="currentUsersRoles.includes('admin')"
            >
              Users
            </router-link>
            <ActiveCompanySelector/>
          </div>

          <SessionIndicator></SessionIndicator>
        </div>
      </nav>
      <div class="m-6 sm:m-10">
        <router-view class="max-w-screen-xl lg:mx-auto"></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Companies from "../api/collections/Companies";

import {Meteor} from "meteor/meteor";

import LoginPage from "./components/session/LoginPage.vue";
import SessionIndicator from "./components/session/SessionIndicator.vue";

import ActiveCompanySelector from "./components/companies/ActiveCompanySelector.vue";

export default {
  beforeCreate() {
    document.querySelector("body").setAttribute("class", "bg-gray-100");
  },
  beforeDestroy() {
    document.querySelector("body").setAttribute("class", "");
  },
  components: {
    LoginPage,
    SessionIndicator,
    ActiveCompanySelector,
  },
  meteor: {
    $subscribe: {
      companies: [],
    },
    currentUser() {
      return Meteor.user();
    },
    enrolledCompanies() {
      var user = Meteor.user();
      if (user) {
        return Companies.find({users: {$in: [user._id]}});
      }
    },
    currentUsersRoles() {
      // the user doing the editing
      return Meteor.roleAssignment
          .find({"user._id": Meteor.userId()})
          .fetch()
          .map(function (x) {
            return x.role._id;
          });
    },
  },
};
</script>
