<template>
  <div
    v-if="customer.contactPersons && customer.contactPersons.length > 0"
    class="flex flex-col gap-4"
  >
    <ContactPersonElement
      v-for="contactPerson in customer.contactPersons"
      v-bind:key="contactPerson.id"
      v-bind:contactPerson="contactPerson"
      v-bind:customer="customer"
    />
  </div>
  <div v-else>This customer does not yet have contact persons</div>
</template>

<script>
import ContactPersonElement from "./ContactPersonElement.vue";
export default {
  components: { ContactPersonElement },
  props: { customer: { type: Object } },
};
</script>
