<template>
  <form @submit.prevent="handleSubmit" v-if="customer">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl text-purple-700">Add a new contact person</h2>
      <div class="flex flex-col md:flex-row gap-4 flex-wrap">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="first_name" class="bg-white px-1">First Name</label>
          </div>
          <input
            id="first_name"
            v-model="newContactPerson.first_name"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="last_name" class="bg-white px-1">Last Name</label>
          </div>
          <input
            id="last_name"
            v-model="newContactPerson.last_name"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
      </div>
      <h3 class="text-lg text-purple-700">Address</h3>
      <div class="flex flex-col md:flex-row gap-4 flex-wrap">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="street" class="bg-white px-1">Street</label>
          </div>
          <input
            id="street"
            v-model="newContactPerson.address.street"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="zip" class="bg-white px-1">Zip Code</label>
          </div>
          <input
            id="zip"
            v-model="newContactPerson.address.zipCode"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="city" class="bg-white px-1">City</label>
          </div>
          <input
            id="city"
            v-model="newContactPerson.address.city"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="country" class="bg-white px-1">Country</label>
          </div>
          <select
            v-model="newContactPerson.address.country"
            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          >
            <option value=""></option>
            <option v-for="country in countries" v-bind:key="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>
      <h3 class="text-lg text-purple-700">Contact</h3>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="phone" class="bg-white px-1">Phone</label>
        </div>
        <input
          id="phone"
          v-model="newContactPerson.phone"
          autocomplete="off"
          type="tel"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="mobile" class="bg-white px-1">Mobile</label>
        </div>
        <input
          id="mobile"
          v-model="newContactPerson.mobile"
          autocomplete="off"
          type="tel"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="email" class="bg-white px-1">Email</label>
        </div>
        <input
          id="email"
          v-model="newContactPerson.email"
          autocomplete="off"
          type="email"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
    </div>
    <div class="mt-4">
      <button class="btn-icon btn-primary" type="submit">
        Add contact person
      </button>
    </div>
  </form>
  <div v-else>No customer...</div>
</template>

<script>
import Countries from "../../../../api/collections/Countries";

export default {
  props: { customer: { type: Object } },
  data() {
    return {
      errors: [],
      newContactPerson: {
        first_name: null,
        last_name: null,
        address: {
          street: null,
          zipCode: null,
          city: null,
          country: null,
        },
        phone: null,
        mobile: null,
        email: null,
      },
    };
  },
  methods: {
    handleSubmit() {
      contactPersons = [];
      if (this.customer.hasOwnProperty("contactPersons")) {
        console.log(this.customer.contactPersons);
        contactPersons = this.customer.contactPersons;
      }

      var maxId = 0;
      contactPersons.forEach((person) => {
        if (person.hasOwnProperty("id")) {
          if (person.id > maxId) {
            maxId = person.id;
          }
        }
      });
      this.newContactPerson.id = maxId + 1;
      contactPersons.push(this.newContactPerson);
      Meteor.call(
        "customer.setContactPersons",
        this.customer._id,
        contactPersons
      );
      this.$emit("formSubmitted");
    },
  },
  meteor: {
    $subscribe: {
      allCountries: [],
    },
    countries() {
      return Countries.find({});
    },
  },
};
</script>
