<template>
  <div v-if="contactPerson" class="rounded bg-gray-100 p-4 flex flex-col gap-4">
    <h4 class="font-bold flex flex-row items-center gap-2">
      <GravatarImage
        class="h-14 w-14 border-white border-4 rounded-full overflow-hidden"
        v-bind:email="contactPerson.email"
      />

      <span>{{ contactPerson.first_name }} {{ contactPerson.last_name }}</span>
    </h4>
    <div class="flex flex-row flex-wrap gap-4 justify-between">
      <AddressElement
        v-bind:address="contactPerson.address"
        v-bind:title="'Address'"
      />
      <div>
        <PhoneNumberElement v-bind:phone="contactPerson.phone" />
        <MobileNumberElement v-bind:mobile="contactPerson.mobile" />
        <EmailElement v-bind:email="contactPerson.email" />
      </div>
    </div>
    <ModalElement v-if="showEditModal" @close="showEditModal = false">
      <ContactPersonUpdate
        v-bind:contactPerson="contactPerson"
        v-bind:customer="customer"
        v-on:formSubmitted="showEditModal = false"
      />
    </ModalElement>

    <div class="flex flex-row gap-2">
      <ContactPersonDeleteButton
        v-bind:contactPerson="contactPerson"
        v-bind:customer="customer"
      />
      <button class="btn btn-secondary" @click="showEditModal = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
          />
        </svg>
        Update
      </button>
    </div>
  </div>
</template>

<script>
import AddressElement from "../../primitives/contact/AddressElement.vue";
import EmailElement from "../../primitives/contact/EmailElement.vue";
import MobileNumberElement from "../../primitives/contact/MobileNumberElement.vue";
import PhoneNumberElement from "../../primitives/contact/PhoneNumberElement.vue";
import ContactPersonDeleteButton from "./ContactPersonDeleteButton.vue";
import ContactPersonUpdate from "./ContactPersonUpdate.vue";
import ModalElement from "../../primitives/ModalElement.vue";
import GravatarImage from "../../primitives/GravatarImage.vue";
export default {
  components: {
    AddressElement,
    EmailElement,
    MobileNumberElement,
    PhoneNumberElement,
    ContactPersonDeleteButton,
    ContactPersonUpdate,
    ModalElement,
    GravatarImage,
  },
  props: { contactPerson: { type: Object }, customer: { type: Object } },
  data() {
    return {
      showEditModal: false,
    };
  },
};
</script>
