<template>
  <form @submit.prevent="handleSubmit">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl text-purple-700">Add a new invoice template</h2>
      <div class="grid grid-cols-2 gap-2">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="name" class="bg-white px-1">Name</label>
          </div>
          <input
            id="name"
            v-model="newInvoiceTemplate.name"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="description" class="bg-white px-1">Description</label>
          </div>
          <input
            id="description"
            v-model="newInvoiceTemplate.description"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="format" class="bg-white px-1">Format</label>
          </div>
          <input
            id="format"
            v-model="newInvoiceTemplate.options.format"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="orientation" class="bg-white px-1">Orientation</label>
          </div>
          <input
            id="orientation"
            v-model="newInvoiceTemplate.options.orientation"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="border" class="bg-white px-1">Border</label>
          </div>
          <input
            id="border"
            v-model="newInvoiceTemplate.options.border"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
      </div>
      <div class="flex flex-row gap-2 justify-between">
        <button class="btn btn-primary" type="submit">
          Add invoice Template
        </button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      newInvoiceTemplate: {
        name: null,
        description: null,
        template: null,
        options: {
          format: "A4",
          orientation: "portrait",
          border: "10mm",
          header: {
            height: "45mm",
            contents: '<div style="text-align: center;">My Header</div>',
          },
          footer: {
            height: "28mm",
            contents: '<div style="text-align: center;">My Footer</div>',
          },
        },
      },
    };
  },
  methods: {
    handleSubmit() {
      console.log("handleSubmit");
      Meteor.call("invoiceTemplate.add", this.newInvoiceTemplate);
      this.$emit("formSubmitted");
    },
  },
};
</script>
