<template>
  <form @submit.prevent="handleSubmit">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl text-purple-700">Edit the invoice Template</h2>
      <div class="grid grid-cols-2 gap-2">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="name" class="bg-white px-1">Name</label>
          </div>
          <input
            id="name"
            v-model="editedInvoiceTemplate.name"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="description" class="bg-white px-1">Description</label>
          </div>
          <input
            id="description"
            v-model="editedInvoiceTemplate.description"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
      </div>
      <div class="grid grid-cols-3 gap-2">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="format" class="bg-white px-1">Format</label>
          </div>
          <input
            id="format"
            v-model="editedInvoiceTemplate.options.format"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="orientation" class="bg-white px-1">Orientation</label>
          </div>
          <input
            id="orientation"
            v-model="editedInvoiceTemplate.options.orientation"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="border" class="bg-white px-1">Border</label>
          </div>
          <input
            id="border"
            v-model="editedInvoiceTemplate.options.border"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
      </div>
      <div class="flex flex-row gap-2 justify-between">
        <button class="btn btn-primary" type="submit">
          Save invoice Template
        </button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: { invoiceTemplate: { type: Object } },
  mounted() {
    console.log(this.$props);
    this.editedInvoiceTemplate.name = this.$props.invoiceTemplate.name;
    this.editedInvoiceTemplate.description =
      this.$props.invoiceTemplate.description;
    this.editedInvoiceTemplate.options.format =
      this.$props.invoiceTemplate.options.format;
    this.editedInvoiceTemplate.options.orientation =
      this.$props.invoiceTemplate.options.orientation;
    this.editedInvoiceTemplate.options.border =
      this.$props.invoiceTemplate.options.border;
  },
  data() {
    return {
      editedInvoiceTemplate: {
        name: null,
        description: null,
        template: null,
        options: {
          format: "A4",
          orientation: "portrait",
          border: "10mm",
        },
      },
    };
  },
  methods: {
    handleSubmit() {
      console.log("handleSubmit");
      Meteor.call(
        "invoiceTemplate.update",
        this.$props.invoiceTemplate._id,
        this.editedInvoiceTemplate
      );
      this.$emit("formSubmitted");
    },
  },
};
</script>
