<template>
  <div>
    <form @submit.prevent="handleSubmit()">
      <div class="flex flex-col gap-4">
        <h4 class="text-xl font-bold">Header</h4>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="orientation" class="bg-white px-1">Height</label>
          </div>
          <input
            id="orientation"
            v-model="header.height"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
            required
          />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <textarea
            class="resize-none w-full order-2 md:order-1"
            id="invoiceTemplateHeaderEditFormHeaderHtmlInput"
            name="htmlInput"
            rows="6"
            cols="50"
            @keyup="updateContent()"
            v-model="header.contents"
          ></textarea>
          <iframe
            id="invoiceTemplateHeaderEditFormHeaderPreview"
            class="bg-white overflow-auto border border-black h-44 w-full order-1 md:order-2"
          >
          </iframe>
        </div>
        <div class="flex flex-row gap-2 flex-wrap" border>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: { invoiceTemplate: { type: Object } },
  data() {
    return {
      header: {
        height: null,
        contents: null,
      },
    };
  },
  mounted() {
    if (this.$props.invoiceTemplate.hasOwnProperty("options")) {
      if (this.$props.invoiceTemplate.options.hasOwnProperty("header")) {
        this.header = { ...this.$props.invoiceTemplate.options.header };
      }
    }
    this.updateContent();
  },
  methods: {
    updateContent() {
      console.log("headerUpdateContent");
      var html_content = document.getElementById(
        "invoiceTemplateHeaderEditFormHeaderHtmlInput"
      ).value;
      var iframe = document.getElementById(
        "invoiceTemplateHeaderEditFormHeaderPreview"
      );
      var doc = iframe.contentWindow.document;
      doc.open();
      doc.write(html_content);
      doc.close();
    },
    handleSubmit() {
      Meteor.call(
        "invoiceTemplate.updateHeader",
        this.$props.invoiceTemplate._id,
        this.header
      );
      this.$emit("formSubmitted");
    },
  },
};
</script>
