<template>
  <div>
    <h4 class="text-xl font-bold">Template</h4>
    <form @submit.prevent="handleSubmit()">
      <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
          <textarea
            class="resize-none w-full order-2 md:order-1"
            id="templateHtmlInputTextarea"
            name="htmlInput"
            rows="20"
            cols="50"
            @keyup="updateTemplateContent()"
            v-model="template"
          ></textarea>
          <iframe
            id="templatePreviewIframe"
            class="bg-white overflow-auto border border-black h-max w-full order-1 md:order-2 resize-y"
          >
          </iframe>
        </div>
        <div class="flex flex-row gap-2 flex-wrap" border>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: { invoiceTemplate: { type: Object } },
  data() {
    return {
      template: "",
    };
  },
  mounted() {
    this.template = this.invoiceTemplate.template;
    this.updateTemplateContent();
  },
  methods: {
    updateTemplateContent() {
      var html_content = document.getElementById(
        "templateHtmlInputTextarea"
      ).value;
      var iframe = document.getElementById("templatePreviewIframe");
      var doc = iframe.contentWindow.document;
      doc.open();
      doc.write(html_content);
      doc.close();
    },
    handleSubmit() {
      Meteor.call(
        "invoiceTemplate.updateTemplate",
        this.$props.invoiceTemplate._id,
        this.template
      );
      this.$emit("formSubmitted");
    },
  },
};
</script>
