<template>
  <div class="flex flex-col gap-4">
    <iframe
      id="headerPreview"
      class="bg-white overflow-auto border border-black w-full"
    >
    </iframe>
    <iframe
      id="templatePreview"
      class="bg-white overflow-auto border border-black h-96 w-full"
    >
    </iframe>
    <iframe
      id="footerPreview"
      class="bg-white overflow-auto border border-black w-full"
    >
    </iframe>
  </div>
</template>

<script>
export default {
  props: { invoiceTemplate: { type: Object } },
  mounted() {
    var iframe = document.getElementById("headerPreview");
    var doc = iframe.contentWindow.document;
    doc.open();
    doc.write(this.$props.invoiceTemplate.options.header.contents);
    doc.close();
    console.log(this.$props.invoiceTemplate.options.header.contents);

    var iframe = document.getElementById("templatePreview");
    var doc = iframe.contentWindow.document;
    doc.open();
    doc.write(this.$props.invoiceTemplate.template);
    doc.close();

    var iframe = document.getElementById("footerPreview");
    var doc = iframe.contentWindow.document;
    doc.open();
    doc.write(this.$props.invoiceTemplate.options.footer.contents);
    doc.close();
    console.log(this.$props.invoiceTemplate.options.footer.contents);
  },
};
</script>
