<template>
  <div class="bg-white rounded p-2 flex flex-col gap-2">
    <h3 class="font-bold text-lg text-purple-600">
      {{ invoiceTemplate.name }}
    </h3>
    <p class="text-sm text-gray-400">{{ invoiceTemplate.description }}</p>
    <div class="flex flex-col sm:flex-row gap-2 justify-between">
      <div class="px-2 py-1 bg-cyan-100 text-cyan-800 rounded">
        Format: {{ invoiceTemplate.options.format }}
      </div>
      <div class="px-2 py-1 bg-cyan-100 text-cyan-800 rounded">
        Orientation: {{ invoiceTemplate.options.orientation }}
      </div>
      <div class="px-2 py-1 bg-cyan-100 text-cyan-800 rounded">
        Border: {{ invoiceTemplate.options.border }}
      </div>
      <div
        v-if="invoiceTemplate.template"
        class="px-2 py-1 bg-cyan-100 text-cyan-800 rounded"
      >
        Template symbols: {{ invoiceTemplate.template.length }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: { invoiceTemplate: { type: Object } },
};
</script>
