<template>
  <div class="flex flex-col gap-6">
    <div
      v-if="invoiceTemplates.length == 0"
      class="bg-white rounded p-4 flex flex-col justify-around items-center text-gray-400"
    >
      <!-- prompt to create an invoice template -->
      <div class="flex flex-col justify-around items-center gap-4">
        <p>Add your first invoice template for this company</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 animate-bounce"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 14l-7 7m0 0l-7-7m7 7V3"
          />
        </svg>
      </div>
    </div>
    <router-link
      v-for="invoiceTemplate in invoiceTemplates"
      v-bind:key="invoiceTemplate._id"
      :to="{
        name: 'invoiceTemplatesDetail',
        params: { id: invoiceTemplate._id },
      }"
    >
      <InvoiceTemplateListCard v-bind:invoiceTemplate="invoiceTemplate">
      </InvoiceTemplateListCard>
    </router-link>
  </div>
</template>

<script>
import InvoiceTemplates from "../../../api/collections/InvoiceTemplates";
import InvoiceTemplateListCard from "./InvoiceTemplateListCard.vue";
export default {
  components: { InvoiceTemplateListCard },
  meteor: {
    $subscribe: {
      invoiceTemplates: [],
    },
    invoiceTemplates() {
      return InvoiceTemplates.find({});
    },
  },
};
</script>
