<template>
  <div>
    <ModalElement v-if="showDelete" @close="showDelete = false">
      <div class="flex flex-col gap-4">
        <h3 class="font-bold text-purple-700">
          Delete Invoicee Templat {{ invoiceTemplate.name }}?
        </h3>
        <p>This cannot be undone!</p>
        <div class="flex flex-row gap-4 justify-between">
          <button class="btn btn-danger" @click="handleDelete()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              /></svg
            ><span>Delete</span>
          </button>
          <button class="btn btn-secondary" @click="toggleModal()">
            Abort
          </button>
        </div>
      </div>
    </ModalElement>
    <button class="btn btn-danger" @click="toggleModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd"
        /></svg
      ><span>Delete</span>
    </button>
  </div>
</template>

<script>
import ModalElement from "../primitives/ModalElement.vue";
export default {
  data() {
    return {
      showDelete: false,
    };
  },
  components: { ModalElement },
  props: { invoiceTemplate: { type: Object } },
  methods: {
    handleDelete() {
      Meteor.call("invoiceTemplate.remove", this.$props.invoiceTemplate._id);
    },
    toggleModal() {
      console.log(this.showDelete);
      this.showDelete = !this.showDelete;
    },
  },
};
</script>
