<template>
  <div v-if="invoiceTemplate" class="flex flex-col gap-4">
    <div
      class="bg-white rounded p-4 text-purple-700 flex flex-row justify-between items-center"
    >
      <h3 class="text-xl font-bold">
        Invoice Template
        <span v-if="invoiceTemplate" class="text-purple-600">{{
          invoiceTemplate.name
        }}</span>
      </h3>
      <router-link :to="{ name: 'variablesDocumentation' }" target="_blank"
        >Documentation</router-link
      >
    </div>

    <InvoiceTemplateListCard v-bind:invoiceTemplate="invoiceTemplate">
    </InvoiceTemplateListCard>

    <div class="p-4 bg-white rounded flex flex-row gap-2 flex-wrap">
      <InvoiceTemplateDeleteButton
        v-bind:invoiceTemplate="invoiceTemplate"
      ></InvoiceTemplateDeleteButton>

      <button class="btn btn-secondary" @click="toggleGeneralEditModal()">
        Edit
      </button>
      <InvoiceTemplateTest
        :invoiceTemplate="invoiceTemplate"
      ></InvoiceTemplateTest>
    </div>

    <div class="bg-white rounded p-2">
      <InvoiceTemplateHeaderEditForm
        v-bind:invoiceTemplate="invoiceTemplate"
        v-on:formSubmitted="showHeaderEditModal = false"
      ></InvoiceTemplateHeaderEditForm>
    </div>
    <div class="bg-white rounded p-2">
      <InvoiceTemplateTemplateEditForm
        v-bind:invoiceTemplate="invoiceTemplate"
        v-on:formSubmitted="showGeneralEditModal = false"
      ></InvoiceTemplateTemplateEditForm>
    </div>
    <div class="bg-white rounded p-2">
      <InvoiceTemplateFooterEditForm
        v-bind:invoiceTemplate="invoiceTemplate"
        v-on:formSubmitted="showFooterEditModal = false"
      ></InvoiceTemplateFooterEditForm>
    </div>

    <div class="bg-white p-4 rounded">
      <InvoiceTemplatePreview
        v-bind:invoiceTemplate="invoiceTemplate"
      ></InvoiceTemplatePreview>
    </div>

    <ModalElement
      v-if="showGeneralEditModal"
      @close="showGeneralEditModal = false"
    >
      <InvoiceTemplateEditForm
        v-bind:invoiceTemplate="invoiceTemplate"
        v-on:formSubmitted="showGeneralEditModal = false"
      ></InvoiceTemplateEditForm>
    </ModalElement>
  </div>
  <div v-else class="flex flex-col gap-4">
    <div
      class="text-red-700 bg-red-200 rounded p-4 flex flex-row gap-4 items-center"
    >
      <span>
        This invoice template does not exist, maybe it has been deleted.
      </span>
      <router-link to="/invoiceTemplates" class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
        Invoice Template Overview
      </router-link>
    </div>
  </div>
</template>

<script>
import InvoiceTemplates from "../../../api/collections/InvoiceTemplates";
import ModalElement from "../primitives/ModalElement.vue";
import InvoiceTemplateEditForm from "./InvoiceTemplateEditForm.vue";
import InvoiceTemplateListCard from "./InvoiceTemplateListCard.vue";
import InvoiceTemplateDeleteButton from "./InvoiceTemplateDeleteButton.vue";
import InvoiceTemplateTemplateEditForm from "./InvoiceTemplateTemplateEditForm.vue";
import InvoiceTemplateHeaderEditForm from "./InvoiceTemplateHeaderEditForm.vue";
import InvoiceTemplateFooterEditForm from "./InvoiceTemplateFooterEditForm.vue";
import InvoiceTemplateTest from "./InvoiceTemplateTest.vue";
import InvoiceTemplatePreview from "./InvoiceTemplatePreview.vue";
import InvoiceVariablesDisplay from "../invoices/InvoiceVariablesDisplay.vue";
export default {
  components: {
    InvoiceTemplateListCard,
    InvoiceTemplateEditForm,
    ModalElement,
    InvoiceTemplateDeleteButton,
    InvoiceTemplateTemplateEditForm,
    InvoiceTemplateHeaderEditForm,
    InvoiceTemplateFooterEditForm,
    InvoiceTemplatePreview,
    InvoiceVariablesDisplay,
    InvoiceTemplateTest,
  },

  data() {
    return {
      showGeneralEditModal: false,
    };
  },
  methods: {
    toggleGeneralEditModal() {
      this.showGeneralEditModal = !this.showGeneralEditModal;
    },
  },
  meteor: {
    $subscribe: {
      invoiceTemplates: [],
    },
    currentUser() {
      return Meteor.user();
    },
    invoiceTemplate() {
      return InvoiceTemplates.findOne({ _id: this.$route.params.id });
    },
  },
};
</script>
