<template>
  <select
    @change="onChange($event)"
    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm rounded-md"
  >
    <option
      v-for="company in assignedCompanies"
      v-bind:key="company._id"
      :value="company._id"
      :selected="usersActiveCompany == company._id"
    >
      {{ company.name.substring(0, 20) + " ..." }}
    </option>
  </select>
</template>

<script>
import { Meteor } from "meteor/meteor";

import Companies from "../../../api/collections/Companies";

export default {
  computed: {
    usersActiveCompany() {
      let activeCompany = null;
      if (this.currentUser) {
        if (this.currentUser.hasOwnProperty("activeCompany")) {
          activeCompany = this.currentUser.activeCompany;
        }
      }
      return activeCompany;
    },
  },
  methods: {
    onChange(event) {
      let companyId = null;
      if (event.target.value) {
        companyId = event.target.value;
      }
      Meteor.call("user.setActiveCompany", this.currentUser._id, companyId);
      this.$emit("activeCompanyChanged", companyId);
    },

    isActiveCompany(companyId) {
      let isActiveCompany = false;
      if (this.usersActiveCompany() === companyId) {
        isActiveCompany = true;
      }
      return isActiveCompany;
    },
  },
  meteor: {
    $subscribe: {
      allUsers: [],
      companies: [],
    },
    currentUser() {
      return Meteor.user();
    },
    assignedCompanies() {
      companies = Companies.find({
        users: { $in: [this.currentUser._id] },
      });
      return companies;
    },
  },
};
</script>
