<template>
  <form @submit.prevent="handleSubmit">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl text-purple-700">Add a new company</h2>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="name" class="bg-white px-1">Name</label>
        </div>
        <input
          id="name"
          v-model="newCompany.name"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          required
        />
      </div>
      <h3 class="text-lg text-purple-700">Address</h3>
      <div class="flex flex-row gap-4 flex-wrap">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="street" class="bg-white px-1">Street</label>
          </div>
          <input
            id="street"
            v-model="newCompany.address.street"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="zip" class="bg-white px-1">Zip Code</label>
          </div>
          <input
            id="zip"
            v-model="newCompany.address.zipCode"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="city" class="bg-white px-1">City</label>
          </div>
          <input
            id="city"
            v-model="newCompany.address.city"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>

        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="country" class="bg-white px-1">Country</label>
          </div>

          <select
            v-model="newCompany.address.country"
            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          >
            <option value=""></option>
            <option v-for="country in countries" v-bind:key="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>

      <h3 class="text-lg text-purple-700">Invoice Address</h3>
      <div class="flex flex-row gap-4 flex-wrap">
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="iastreet" class="bg-white px-1">Street</label>
          </div>
          <input
            id="iastreet"
            v-model="newCompany.invoiceAddress.street"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="iazip" class="bg-white px-1">Zip Code</label>
          </div>
          <input
            id="iazip"
            v-model="newCompany.invoiceAddress.zipCode"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="iacity" class="bg-white px-1">City</label>
          </div>
          <input
            id="iacity"
            v-model="newCompany.invoiceAddress.city"
            autocomplete="off"
            type="text"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          />
        </div>
        <div>
          <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
            <label for="iacountry" class="bg-white px-1">Country</label>
          </div>

          <select
            v-model="newCompany.invoiceAddress.country"
            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          >
            <option value=""></option>
            <option v-for="country in countries" v-bind:key="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>
      <h3 class="text-lg text-purple-700">Contact</h3>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="phone" class="bg-white px-1">Phone</label>
        </div>
        <input
          id="phone"
          v-model="newCompany.phone"
          autocomplete="off"
          type="tel"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="mobile" class="bg-white px-1">Mobile</label>
        </div>
        <input
          id="mobile"
          v-model="newCompany.mobile"
          autocomplete="off"
          type="tel"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="email" class="bg-white px-1">Email</label>
        </div>
        <input
          id="email"
          v-model="newCompany.email"
          autocomplete="off"
          type="email"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="homepage" class="bg-white px-1">Homepage</label>
        </div>
        <input
          id="homepage"
          v-model="newCompany.homepage"
          autocomplete="off"
          type="url"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
    </div>
    <div class="mt-4">
      <button class="btn-icon btn-primary" type="submit">Add company</button>
    </div>
  </form>
</template>

<script>
import Countries from "../../../api/collections/Countries";

export default {
  data() {
    return {
      errors: [],
      newCompany: {
        name: null,
        address: {
          street: null,
          zipCode: null,
          city: null,
          country: null,
        },
        invoiceAddress: {
          street: null,
          zipCode: null,
          city: null,
          country: null,
        },
        phone: null,
        mobile: null,
        email: null,
        homepage: null,
      },
    };
  },
  methods: {
    handleSubmit() {
      Meteor.call("company.add", this.newCompany);

      this.newCompany = {
        name: null,
        address: {
          street: null,
          zipCode: null,
          city: null,
          country: null,
        },
        invoiceAddress: {
          street: null,
          zipCode: null,
          city: null,
          country: null,
        },
        phone: null,
        mobile: null,
        email: null,
        homepage: null,
      };
    },
  },
  meteor: {
    $subscribe: {
      allCountries: [],
    },
    countries() {
      return Countries.find({});
    },
  },
};
</script>
