<template>
  <div>
    <form class="flex flex-col gap-4" @submit.prevent="handleSubmit">
      <h4 class="text-purple-700 font-bold font-lg">General</h4>

      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="name" class="bg-white px-1">Name</label>
        </div>
        <input
          id="name"
          v-model="updatedCompany.name"
          autocomplete="off"
          type="text"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="phone" class="bg-white px-1">Phone</label>
        </div>
        <input
          id="phone"
          v-model="updatedCompany.phone"
          autocomplete="off"
          type="text"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="mobile" class="bg-white px-1">Mobile</label>
        </div>
        <input
          id="mobile"
          v-model="updatedCompany.mobile"
          autocomplete="off"
          type="text"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="email" class="bg-white px-1">Email</label>
        </div>
        <input
          id="email"
          v-model="updatedCompany.email"
          autocomplete="off"
          type="email"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="homepage" class="bg-white px-1">Homepage</label>
        </div>
        <input
          id="homepage"
          v-model="updatedCompany.homepage"
          autocomplete="off"
          type="url"
          class="
            appearance-none
            block
            w-full
            px-3
            py-2
            border border-gray-300
            rounded-md
            shadow-sm
            placeholder-gray-400
            focus:outline-none focus:ring-purple-500 focus:border-purple-500
            sm:text-sm
          "
        />
      </div>

      <div class="mt-4">
        <button class="btn-icon btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: { company: { type: Object } },
  data() {
    return {
      updatedCompany: {
        name: null,
        phone: null,
        mobile: null,
        email: null,
        homepage: null,
      },
    };
  },
  mounted() {
    this.updatedCompany.name = this.$props.company.name;
    this.updatedCompany.phone = this.$props.company.phone;
    this.updatedCompany.mobile = this.$props.company.mobile;
    this.updatedCompany.email = this.$props.company.email;
    this.updatedCompany.homepage = this.$props.company.homepage;
  },
  methods: {
    handleSubmit() {
      Meteor.call(
        "company.update",
        this.$props.company._id,
        this.updatedCompany
      );
      // reset form
      this.$emit("formSubmitted");
    },
  },
};
</script>
