<template>
  <div class="rounded bg-purple-100 p-4 relative">
    <div class="flex flex-col md:flex-row gap-2 justify-between">
      <!--public indicator-->
      <div v-if="this.showControls" class="absolute -top-2 -right-2">
        <div
          v-if="company.public"
          class="bg-green-200 text-green-600 p-1 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path
              fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd"
            />
          </svg>
        </div>

        <!--not public indicator-->
        <div
          v-if="!company.public"
          class="bg-red-200 text-red-600 p-1 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z"
              clip-rule="evenodd"
            />
            <path
              d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z"
            />
          </svg>
        </div>
      </div>

      <div>
        <h4 class="font-bold text-lg mb-2">
          {{ company.name }}
        </h4>
        <div class="flex flex-row gap-4 flex-wrap">
          <AddressElement
            v-if="company.address"
            v-bind:address="company.address"
            v-bind:title="'Address'"
          />
          <AddressElement
            v-if="company.invoiceAddress"
            v-bind:address="company.invoiceAddress"
            v-bind:title="'Invoice Address'"
          />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="ml-auto flex -space-x-2 relative z-0">
          <UserAvatar
            v-for="user in associatedUsers"
            v-bind:key="user._id"
            v-bind:user="user"
            class="relative z-20 inline-block h-10 w-10 rounded-full ring-2 ring-white overflow-hidden hover:z-30 transform duration-300 ease-in-out translate hover:-translate-y-2"
          />
        </div>
        <h5>Contact:</h5>
        <PhoneNumberElement v-bind:phone="company.phone" />
        <MobileNumberElement v-bind:mobile="company.mobile" />
        <EmailElement v-bind:email="company.email" />
        <URLElement v-bind:url="company.homepage" />
      </div>
    </div>
    <!--buttons -->
    <div class="flex flex-row gap-4 flex-wrap mt-4" v-if="this.showControls">
      <button class="btn btn-danger" @click="handleDelete()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd"
          /></svg
        ><span>Delete</span>
      </button>
      <button
        v-if="!company.public"
        class="btn btn-secondary"
        @click="togglePublic()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
          <path
            fill-rule="evenodd"
            d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
            clip-rule="evenodd"
          />
        </svg>
        <span>Publish</span>
      </button>
      <button
        v-if="company.public"
        class="btn btn-secondary"
        @click="togglePublic()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z"
            clip-rule="evenodd"
          />
          <path
            d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z"
          />
        </svg>
        <span>Hide</span>
      </button>
      <button
        v-if="company.users.indexOf(currentUser._id) < 0"
        class="btn btn-success"
        @click="handleAddUser()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"
          />
        </svg>
        <span>Join</span>
      </button>
      <button
        v-if="company.users.indexOf(currentUser._id) >= 0"
        class="btn btn-secondary"
        @click="handleRemoveUser()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z"
          />
        </svg>
        <span>Leave</span>
      </button>
    </div>
  </div>
</template>

<script>
import UserAvatar from "../user/UserAvatar.vue";
import AddressElement from "../primitives/contact/AddressElement.vue";

import EmailElement from "../primitives/contact/EmailElement.vue";
import MobileNumberElement from "../primitives/contact/MobileNumberElement.vue";
import PhoneNumberElement from "../primitives/contact/PhoneNumberElement.vue";
import URLElement from "../primitives/contact/URLElement.vue";

export default {
  components: {
    AddressElement,
    UserAvatar,
    EmailElement,
    MobileNumberElement,
    PhoneNumberElement,
    URLElement,
  },
  props: {
    company: { type: Object },
    showControls: { type: Boolean, default: true },
  },
  methods: {
    handleDelete() {
      Meteor.call("company.remove", this.company._id);
    },
    togglePublic() {
      Meteor.call("company.togglePublic", this.company._id);
    },
    handleAddUser() {
      Meteor.call("company.addUser", this.company._id, this.currentUser._id);
    },
    handleRemoveUser() {
      Meteor.call("company.removeUser", this.company._id, this.currentUser._id);
    },
  },
  computed: {},
  meteor: {
    $subscribe: { allUsers: [] },
    currentUser() {
      return Meteor.user();
    },
    associatedUsers() {
      return Meteor.users.find({ _id: { $in: this.company.users } }).fetch();
    },
  },
};
</script>
