<template>
  <div v-if="customer" class="flex flex-col gap-4">
    <CustomerCard v-bind:customer="customer"> </CustomerCard>
    <div class="bg-white rounded p-4 flex flex-col gap-4">
      <div class="flex flex-row gap-4 flex-wrap">
        <button
          class="btn btn-secondary"
          v-if="!this.showGeneralEdit"
          @click="activateGeneralEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M8 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
            />
            <path
              d="M3 4a1 1 0 00-1 1v10a1 1 0 001 1h1.05a2.5 2.5 0 014.9 0H10a1 1 0 001-1V5a1 1 0 00-1-1H3zM14 7a1 1 0 00-1 1v6.05A2.5 2.5 0 0115.95 16H17a1 1 0 001-1v-5a1 1 0 00-.293-.707l-2-2A1 1 0 0015 7h-1z"
            />
          </svg>
          Edit General Info
        </button>
        <button
          class="btn btn-warning"
          v-if="this.showGeneralEdit"
          @click="deactivateGeneralEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
            />
          </svg>
          Edit General Info
        </button>
        <button
          class="btn btn-secondary"
          v-if="!this.showAddressEdit"
          @click="activateAddressEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            />
          </svg>
          Edit Address
        </button>
        <button
          class="btn btn-warning"
          v-if="this.showAddressEdit"
          @click="deactivateAddressEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
            />
          </svg>
          Edit Address
        </button>
        <button
          class="btn btn-secondary"
          v-if="!this.showInvoiceAddressEdit"
          @click="activateInvoiceAddressEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            />
          </svg>
          Edit Invoice Address
        </button>
        <button
          class="btn btn-warning"
          v-if="this.showInvoiceAddressEdit"
          @click="deactivateInvoiceAddressEdit()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
            />
          </svg>
          Edit Invoice Address
        </button>
      </div>
      <ModalElement v-if="showGeneralEdit" @close="showGeneralEdit = false">
        <CustomerBaseForm
          v-bind:customer="customer"
          v-on:formSubmitted="deactivateGeneralEdit()"
        />
      </ModalElement>
      <ModalElement v-if="showAddressEdit" @close="showAddressEdit = false">
        <CustomerAddressForm
          v-bind:customer="customer"
          v-on:formSubmitted="deactivateAddressEdit()"
        />
      </ModalElement>
      <ModalElement
        v-if="showInvoiceAddressEdit"
        @close="showInvoiceAddressEdit = false"
      >
        <CustomerInvoiceAddressForm
          v-bind:customer="customer"
          v-on:formSubmitted="deactivateInvoiceAddressEdit()"
        />
      </ModalElement>
    </div>
    <div class="bg-white rounded p-4 flex flex-col gap-4">
      <h3 class="text-purple-600 font-bold text-xl">Contact Persons</h3>
      <ContractPersonList v-bind:customer="customer" />
      <div>
        <button
          class="btn btn-primary"
          @click="showContactPersonAddModal = true"
        >
          Add contact person
        </button>
      </div>
      <ModalElement
        v-if="showContactPersonAddModal"
        @close="showContactPersonAddModal = false"
      >
        <ContractPersonAdd
          v-bind:customer="customer"
          v-on:formSubmitted="showContactPersonAddModal = false"
        />
      </ModalElement>
    </div>
  </div>
  <div v-else class="flex flex-col gap-4">
    <div
      class="text-red-700 bg-red-200 rounded p-4 flex flex-row gap-4 items-center"
    >
      <span> This customer does not exist, maybe it has been deleted. </span>
      <router-link to="/customers" class="btn btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
        Customer Overview
      </router-link>
    </div>
  </div>
</template>

<script>
import Customers from "../../../api/collections/Customers";
import CustomerCard from "./CustomerCard.vue";
import ModalElement from "../primitives/ModalElement.vue";
import CustomerBaseForm from "./CustomerBaseForm.vue";
import CustomerAddressForm from "./CustomerAddressForm.vue";
import CustomerInvoiceAddressForm from "./CustomerInvoiceAddressForm.vue";
import ContractPersonList from "./contractPersons/ContactPersonList.vue";
import ContractPersonAdd from "./contractPersons/ContactPersonAdd.vue";
export default {
  components: {
    CustomerCard,
    ModalElement,
    CustomerBaseForm,
    CustomerAddressForm,
    CustomerInvoiceAddressForm,
    ContractPersonList,
    ContractPersonAdd,
  },
  data() {
    return {
      showGeneralEdit: false,
      showAddressEdit: false,
      showInvoiceAddressEdit: false,
      showContactPersonAddModal: false,
    };
  },
  methods: {
    activateGeneralEdit() {
      this.showGeneralEdit = true;
    },
    deactivateGeneralEdit() {
      this.showGeneralEdit = false;
    },
    activateAddressEdit() {
      this.showAddressEdit = true;
    },
    deactivateAddressEdit() {
      this.showAddressEdit = false;
    },
    activateInvoiceAddressEdit() {
      this.showInvoiceAddressEdit = true;
    },
    deactivateInvoiceAddressEdit() {
      this.showInvoiceAddressEdit = false;
    },
  },
  computed: {
    customer() {
      return Customers.findOne({ _id: this.$route.params.id });
    },
  },
  meteor: {
    $subscribe: {
      customers: [],
      companies: [],
    },
    currentUser() {
      return Meteor.user();
    },
    customer() {
      return Customers.findOne({ _id: this.$route.params.id });
    },
  },
};
</script>
