<template>
  <div>
    <form class="flex flex-col gap-4" @submit.prevent="handleSubmit">
      <h4 class="text-purple-700 font-bold font-lg">Invoice Address</h4>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="street" class="bg-white px-1">Street</label>
        </div>
        <input
          id="street"
          v-model="updatedAddress.street"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="zipCode" class="bg-white px-1">zip Code</label>
        </div>
        <input
          id="zipCode"
          v-model="updatedAddress.zipCode"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="city" class="bg-white px-1">City</label>
        </div>
        <input
          id="city"
          v-model="updatedAddress.city"
          autocomplete="off"
          type="text"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        />
      </div>
      <div>
        <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
          <label for="country" class="bg-white px-1">Country</label>
        </div>
        <select
          v-model="updatedAddress.country"
          class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        >
          <option value=""></option>
          <option v-for="country in countries" v-bind:key="country.name">
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="mt-4">
        <button class="btn-icon btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
import Countries from "../../../api/collections/Countries";

export default {
  props: { customer: { type: Object } },
  data() {
    return {
      errors: [],
      updatedAddress: {
        street: null,
        zipCode: null,
        city: null,
        country: null,
      },
    };
  },
  mounted() {
    this.updatedAddress = { ...this.$props.customer.invoiceAddress };
  },
  methods: {
    handleSubmit() {
      Meteor.call(
        "customer.updateInvoiceAddress",
        this.$props.customer._id,
        this.updatedAddress
      );
      // reset form
      this.$emit("formSubmitted");
    },
  },
  meteor: {
    $subscribe: {
      allCountries: [],
    },
    countries() {
      return Countries.find({});
    },
  },
};
</script>
