<template>
  <div class="rounded bg-gray-200 p-4 flex flex-col gap-4">
    <h4 class="font-bold text-lg text-purple-600">
      {{ customer.name }}
    </h4>
    <div class="flex flex-row justify-between flex-wrap gap-4">
      <div class="flex flex-row gap-4 flex-wrap" v-if="customer.address.street">
        <AddressElement
          v-if="customer.address"
          v-bind:address="customer.address"
          v-bind:title="'Address'"
        />
        <AddressElement
          v-if="customer.invoiceAddress"
          v-bind:address="customer.invoiceAddress"
          v-bind:title="'Invoice Address'"
        />
      </div>
      <div class="flex flex-col flex-wrap gap-2">
        <PhoneNumberElement v-bind:phone="customer.phone" />
        <MobileNumberElement v-bind:mobile="customer.mobile" />
        <EmailElement v-bind:email="customer.email" />
        <URLElement v-bind:url="customer.homepage" />
      </div>
    </div>
    <div v-if="this.showControls">
      <CustomerDeleteButton v-bind:customer="customer" />
    </div>
  </div>
</template>

<script>
import AddressElement from "../primitives/contact/AddressElement.vue";
import EmailElement from "../primitives/contact/EmailElement.vue";
import MobileNumberElement from "../primitives/contact/MobileNumberElement.vue";
import PhoneNumberElement from "../primitives/contact/PhoneNumberElement.vue";
import URLElement from "../primitives/contact/URLElement.vue";

import CustomerDeleteButton from "./CustomerDeleteButton.vue";
export default {
  components: {
    AddressElement,
    CustomerDeleteButton,
    EmailElement,
    MobileNumberElement,
    PhoneNumberElement,
    URLElement,
  },
  props: {
    customer: { type: Object },
    showControls: { type: Boolean, default: true },
  },
};
</script>
