<template>
  <div
    class="bg-gray-200 border border-gray-200 hover:border-gray-500 duration-300 p-2 rounded flex flex-row gap-4 flex-wrap items-center justify-between"
  >
    <p class="font-bold text-lg">{{ currency.name }}</p>
    <p class="text-purple-600">{{ currency.symbol }}</p>
    <CompanyCurrencyDeleteModal
      v-bind:currency="currency"
      v-bind:company="company"
    >
    </CompanyCurrencyDeleteModal>
  </div>
</template>

<script>
import CompanyCurrencyDeleteModal from "./CompanyCurrencyDeleteModal.vue";
export default {
  components: { CompanyCurrencyDeleteModal },
  props: { currency: { type: Object }, company: { type: Object } },
};
</script>
