<template>
  <form
    @submit.prevent="handleAdd()"
    class="flex flex-row gap-2 flex-wrap items-center"
  >
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="name" class="bg-white px-1">Name</label>
      </div>
      <input
        id="name"
        v-model="newCurrency.name"
        autocomplete="off"
        type="text"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="symbol" class="bg-white px-1">Symbol</label>
      </div>
      <input
        id="symbol"
        v-model="newCurrency.symbol"
        autocomplete="off"
        type="text"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <button class="btn btn-primary">Add</button>
  </form>
</template>
<script>
export default {
  props: {
    company: { type: Object },
  },
  data() {
    return {
      newCurrency: {
        name: null,
        symbol: null,
      },
    };
  },
  methods: {
    handleAdd: function () {
      Meteor.call("company.addCurrency", this.company._id, this.newCurrency);
      this.newCurrency = {
        name: null,
        symbol: null,
      };
    },
  },
};
</script>
