<template>
  <div>
    <div
      v-if="!gravatarUrl"
      class="inline-flex items-center justify-center p-2 bg-gray-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class=""
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
        />
      </svg>
    </div>
    <img v-if="gravatarUrl" class="inline-block" :src="gravatarUrl" alt="" />
  </div>
</template>

<script>
export default {
  props: { email: { type: String } },
  computed: {
    gravatarUrl() {
      if (this.$props.email) {
        let email = this.$props.email;
        email = email.trim();
        email = email.toLowerCase();
        var crypto = require("crypto");
        var hash = crypto.createHash("md5").update(email).digest("hex");

        return "https://www.gravatar.com/avatar/" + hash;
      }
      return null;
    },
  },
};
</script>
