<template>
  <div class="markdown w-full" v-html="markdownToHtml"></div>
</template>

<script>
import marked from "marked";

export default {
  props: { markdown: { type: String } },
  computed: {
    markdownToHtml() {
      return marked(this.markdown);
    },
  },
};
</script>
