<template>
  <form @submit.prevent="handleSubmit" class="flex flex-row flex-wrap gap-4">
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="name" class="bg-white px-1">Name</label>
      </div>
      <input
        id="name"
        v-model="newInvoiceItem.name"
        autocomplete="off"
        type="text"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="description" class="bg-white px-1">Description</label>
      </div>
      <input
        id="description"
        v-model="newInvoiceItem.description"
        autocomplete="off"
        type="text"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="amount" class="bg-white px-1">Amount</label>
      </div>
      <input
        id="amount"
        v-model="newInvoiceItem.amount"
        autocomplete="off"
        type="number"
        min="0"
        step="0.01"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="unit" class="bg-white px-1">Unit</label>
      </div>
      <input
        id="unit"
        v-model="newInvoiceItem.unit"
        autocomplete="off"
        type="text"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="price" class="bg-white px-1">Price</label>
      </div>
      <input
        id="price"
        v-model="newInvoiceItem.price"
        autocomplete="off"
        type="number"
        min="0"
        step="0.01"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="taxPercentage" class="bg-white px-1">Tax/%</label>
      </div>
      <input
        id="taxPercentage"
        v-model="newInvoiceItem.taxPercentage"
        autocomplete="off"
        type="number"
        min="0"
        step="0.01"
        max="100"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
      />
    </div>
    <div>
      <div class="-mt-2 absolute tracking-wider px-1 uppercase text-xs">
        <label for="discount" class="bg-white px-1">Discount/%</label>
      </div>
      <input
        id="discount"
        v-model="newInvoiceItem.discount"
        autocomplete="off"
        type="number"
        min="0"
        step="0.01"
        max="100"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
      />
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
  </form>
</template>

<script>
export default {
  props: { invoice: { type: Object } },
  data() {
    return {
      errors: [],
      newInvoiceItem: {
        name: null,
        description: null,
        amount: 0,
        unit: null,
        discount: 0,
        price: 0,
        taxPercentage: 0,
      },
    };
  },
  methods: {
    handleSubmit() {
      Meteor.call(
        "invoice.addInvoiceElement",
        this.invoice._id,
        this.newInvoiceItem
      );

      this.$emit("formSubmitted");
    },
  },
};
</script>
