<template>
  <div
      class="bg-gray-200 border border-gray-200 hover:border-gray-500 duration-300 p-2 rounded flex flex-row gap-4 flex-wrap items-center justify-between"
  >
    <div
        class="flex flex-row gap-2 flex-wrap items-center justify-between grow"
    >
      <div class="flex flex-col gap-1">
        <div class="font-bold text-lg">{{ invoiceElement.name }}</div>
        <div v-if="invoiceElement.description" class="text-sm text-gray-500">
          {{ invoiceElement.description }}
        </div>
      </div>

      <div class="flex flex-row gap-1">
        <div>
          <span>{{ invoiceElement.amount }}</span>
          <span>{{ invoiceElement.unit }}</span>
        </div>
        <span>@</span>
        <div class="font-bold">
          <span>{{ invoiceElement.price }}</span>
          <span>{{ invoice.currency.symbol }}</span>
        </div>
      </div>

      <div
          v-if="invoiceElement.discount != null && invoiceElement.discount != 0"
          class="text-green-600"
      >
        Discount: {{ invoiceElement.discount }}%
      </div>

      <div
          v-if="invoiceElement.taxPercentage != null"
          class="p-1 rounded bg-red-200 text-red-600"
      >
        Tax: {{ invoiceElement.taxPercentage }}%
      </div>

      <div
          v-if="invoiceElement.priceWithTax != null"
          class="font-bold text-purple-600"
      >
        {{ invoiceElement.priceWithTax.toFixed(2) }}
        <span>{{ invoice.currency.symbol }}</span>
      </div>
    </div>
    <InvoiceElementDeleteButton
        v-if="!invoice.finalizedAt"
        v-bind:invoice="invoice"
        v-bind:invoiceElement="invoiceElement"
    ></InvoiceElementDeleteButton>
  </div>
</template>

<script>
import InvoiceElementDeleteButton from "./InvoiceElementDeleteButton.vue";

export default {
  components: {InvoiceElementDeleteButton},
  props: {invoiceElement: {type: Object}, invoice: {type: Object}},
};
</script>
