<template>
  <div>
    <ModalElement @close="showDeleteModal = false" v-if="this.showDeleteModal">
      <div class="flex flex-col gap-4">
        <h3 class="font-bold text-purple-700">
          Delete Invoice Element {{ invoiceElement.name }}?
        </h3>
        <p>This cannot be undone!</p>

        <div class="flex flex-row gap-2 items-center justify-between">
          <button @click="handleDelete()" class="btn btn-danger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              /></svg
            ><span>Delete</span>
          </button>
          <button class="btn btn-secondary" @click="toggleModal()">
            Abort
          </button>
        </div>
      </div>
    </ModalElement>
    <button @click="toggleModal()" class="btn btn-danger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd"
        /></svg
      ><span>Delete</span>
    </button>
  </div>
</template>

<script>
import ModalElement from "../../primitives/ModalElement.vue";
export default {
  components: { ModalElement },
  props: { invoiceElement: { type: Object }, invoice: { type: Object } },
  data() {
    return {
      showDeleteModal: false,
    };
  },
  methods: {
    toggleModal() {
      this.showDeleteModal = !this.showDeleteModal;
    },
    handleDelete() {
      Meteor.call(
        "invoice.deleteInvoiceElement",
        this.invoice._id,
        this.invoiceElement.id
      );
    },
  },
};
</script>
