<template>
  <div
    v-if="address.street || address.zipCode || address.city || address.country"
  >
    <div class="flex flex-row gap-2 items-center">
      <h5 v-if="title" class="font-bold">{{ title }}</h5>
      <a :href="mapSearchUrl" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12 1.586l-4 4v12.828l4-4V1.586zM3.707 3.293A1 1 0 002 4v10a1 1 0 00.293.707L6 18.414V5.586L3.707 3.293zM17.707 5.293L14 1.586v12.828l2.293 2.293A1 1 0 0018 16V6a1 1 0 00-.293-.707z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
    <p>{{ address.street }}</p>
    <p>{{ address.zipCode }} {{ address.city }}</p>
    <p>{{ address.country }}</p>
  </div>
</template>

<script>
export default {
  props: { address: Object, title: String },
  computed: {
    mapSearchUrl() {
      let searchList = [];
      if (this.address.street) {
        searchList.push(this.address.street);
      }
      if (this.address.zipCode) {
        searchList.push(this.address.zipCode);
      }
      if (this.address.city) {
        searchList.push(this.address.city);
      }
      if (this.address.country) {
        searchList.push(this.address.country);
      }

      let searchString = searchList.join(",");

      return "https://www.openstreetmap.org/search?query=" + searchString;
    },
  },
};
</script>
