<template>
  <a
    v-if="mobile"
    :href="'tel://' + mobile"
    target="blank"
    class="flex flex-row gap-2 items-center hover:text-purple-600"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z"
        clip-rule="evenodd"
      />
    </svg>
    <span>{{ mobile }}</span>
  </a>
</template>

<script>
export default { props: { mobile: { type: String } } };
</script>
