<template>
  <ol class="list-decimal list-inside ml-4">
    <li v-for="(entry, index) in arrayVariable" v-bind:key="index">
      <ObjectDisplay
        v-if="Object.prototype.toString.call(entry) === '[object Object]'"
        v-bind:objectVariable="arrayVariable[index]"
        v-bind:path="extendPath(path, index)"
      />
      <ArrayDisplay
        v-else-if="Object.prototype.toString.call(entry) === '[object Array]'"
        v-bind:arrayVariable="entry"
        v-bind:path="extendPath(path, index)"
      />
      <span v-else class="text-red-700">{{ entry }}</span>
    </li>
  </ol>
</template>

<script>
import ObjectDisplay from "./ObjectDisplay.vue";

export default {
  name: "ArrayDisplay",
  components: { ObjectDisplay },
  props: {
    arrayVariable: { type: Array },
    path: { type: Array, default: () => [] },
  },
  methods: {
    extendPath(pathArray, value) {
      let path = [...pathArray];
      path.push(value);
      return path;
    },
  },
};
</script>
