<template>
  <ul
    v-if="Object.prototype.toString.call(variable) === '[object Object]'"
    class="list-none list-inside ml-4"
  >
    <li v-for="(value, key) in variable" v-bind:key="key">
      <span class="font-bold">{{ extendPath(path, key).join(".") }}: </span>
      <ObjectArrayDisplay
        v-bind:variable="variable[key]"
        v-bind:path="extendPath(path, key)"
      />
    </li>
  </ul>
  <ol
    v-else-if="Object.prototype.toString.call(variable) === '[object Array]'"
    class="list-none list-inside ml-4"
  >
    <li v-for="(value, key) in variable" v-bind:key="key">
      <ObjectArrayDisplay
        v-if="Object.prototype.toString.call(value) === '[object Object]'"
        v-bind:variable="variable[key]"
        v-bind:path="extendPath(path, key)"
      />
    </li>
  </ol>
  <span v-else class="text-red-700">{{ variable }}</span>
</template>

<script>
export default {
  name: "ObjectArrayDisplay",
  props: {
    variable: {},
    path: { type: Array, default: () => [] },
  },
  methods: {
    extendPath(pathArray, value) {
      let path = [...pathArray];
      path.push(value);
      return path;
    },
  },
};
</script>
