<template>
  <ul class="list-none list-inside ml-4">
    <li v-for="(value, key) in objectVariable" v-bind:key="key">
      <span class="font-bold">{{ extendPath(path, key).join(".") }}: </span>

      <ObjectDisplay
        v-if="Object.prototype.toString.call(value) === '[object Object]'"
        v-bind:objectVariable="objectVariable[key]"
        v-bind:path="extendPath(path, key)"
      />
      <ArrayDisplay
        v-else-if="Object.prototype.toString.call(value) === '[object Array]'"
        v-bind:arrayVariable="objectVariable[key]"
        v-bind:path="extendPath(path, key)"
      />
      <span v-else class="text-red-700"> {{ value }} </span>
    </li>
  </ul>
</template>

<script>
import ArrayDisplay from "./ArrayDisplay.vue";
export default {
  name: "ObjectDisplay",
  components: { ArrayDisplay },
  props: {
    objectVariable: { type: Object },
    path: { type: Array, default: () => [] },
  },
  methods: {
    extendPath(pathArray, value) {
      let path = [...pathArray];
      path.push(value);
      return path;
    },
  },
};
</script>
