<template>
  <div class="relative inline-block text-left">
    <div>
      <button
        @click="toggleMenu"
        type="button"
        class="flex-shrink-0 group block bg-gradient-to-br from-purple-700 to-purple-500 text-gray-50 rounded overflow-hidden"
      >
        <div v-if="currentUser" class="flex flex-row items-center">
          <div class="h-9 w-9 overflow-hidden">
            <UserAvatar v-bind:user="currentUser" />
          </div>
          <div class="hidden rounded-tr-lg overflow-hidden bg-gray-400">
            <div
              v-if="!gravatarUrl"
              class="inline-flex items-center justify-center h-9 w-9"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                />
              </svg>
            </div>
            <img
              v-if="gravatarUrl"
              class="inline-block h-9 w-9"
              :src="gravatarUrl"
              alt=""
            />
          </div>

          <div class="px-3">
            <p
              class="text-md font-medium text-gray-100 group-hover:text-gray-50"
            >
              {{ currentUser.username }}
            </p>
          </div>
        </div>
        <div v-else class="p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            />
          </svg>
        </div>
      </button>
    </div>

    <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
    <div
      class="z-50 transition ease-in-out duration-100 transform origin-top-right absolute right-0 mt-2 w-56 rounded shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
      v-bind:class="
        this.dropdownOpen ? 'opacity-100 scale-100' : 'opacity-0 scale-0'
      "
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-2 flex flex-col gap-2 text-gray-500 text-sm" role="none">
        <div @click="closeMenu" class="contents">
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'home' }"
            >Hello</router-link
          >
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'companies' }"
          >
            Companies
          </router-link>
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'customers' }"
            v-if="enrolledCompanies.length > 0"
          >
            Customers
          </router-link>
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'invoices' }"
            v-if="enrolledCompanies.length > 0"
          >
            Invoices
          </router-link>
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'invoiceTemplates' }"
            v-if="enrolledCompanies.length > 0"
          >
            Templates
          </router-link>
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'variablesDocumentation' }"
            >Variables</router-link
          >
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'users' }"
            v-if="currentUsersRoles.includes('admin')"
          >
            Users
          </router-link>
          <router-link
            class="px-4 py-1 hover:bg-gray-300 transition duration-300"
            :to="{ name: 'personalPage' }"
          >
            Account settings
          </router-link>
          <a
            href="#"
            class="text-gray-300 block px-4 py-1 text-sm cursor-not-allowed"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1"
            >Support</a
          >
          <a
            href="#"
            class="text-gray-300 block px-4 py-1 text-sm cursor-not-allowed"
            role="menuitem"
            tabindex="-1"
            id="menu-item-2"
            >License</a
          >
        </div>

        <div class="mx-1">
          <p class="px-3 py-0 text-purple-500">Active Company:</p>
          <ActiveCompanySelector v-on:activeCompanyChanged="closeMenu" />
        </div>
        <button
          @click="handleLogout"
          class="px-4 py-1 hover:bg-gray-300 transition duration-300 text-left"
          role="menuitem"
          tabindex="-1"
          id="menu-item-3"
        >
          Sign out
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Companies from "../../../api/collections/Companies";
import UserAvatar from "../user/UserAvatar.vue";
import ActiveCompanySelector from "../companies/ActiveCompanySelector.vue";
export default {
  components: { UserAvatar, ActiveCompanySelector },
  data() {
    return {
      dropdownOpen: false,
    };
  },
  computed: {
    gravatarUrl() {
      if (this.currentUser) {
        if (this.currentUser.hasOwnProperty("emails")) {
          if (this.currentUser.emails.length > 0) {
            let email = this.currentUser.emails[0].address;
            email = email.trim();
            email = email.toLowerCase();
            var crypto = require("crypto");
            var hash = crypto.createHash("md5").update(email).digest("hex");

            return "https://www.gravatar.com/avatar/" + hash;
          }
        }
      }
      return null;
    },
  },
  methods: {
    handleLogout(event) {
      this.closeMenu();
      Meteor.logout();
    },
    toggleMenu() {
      this.dropdownOpen = !this.dropdownOpen;
    },
    closeMenu() {
      this.dropdownOpen = false;
    },
  },
  meteor: {
    $subscribe: {
      companies: [],
    },
    enrolledCompanies() {
      var user = Meteor.user();
      if (user) {
        return Companies.find({ users: { $in: [user._id] } });
      }
    },
    currentUser() {
      return Meteor.user();
    },

    currentUsersRoles() {
      // the user doing the editing
      return Meteor.roleAssignment
        .find({ "user._id": Meteor.userId() })
        .fetch()
        .map(function (x) {
          return x.role._id;
        });
    },
  },
};
</script>
